In [2]:
from IPython.display import display, HTML 
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
 """))

# 파일 io(입/출력) 프로그래밍

# 1. txt 파일에 데이터 저장하기(쓰기)

In [60]:
#리스트에 넣어서 일괄적으로 txt 파일에 작성하고 저장하기
test_push = ['홍길동, 33, a@a.com ,신림동\n','유성미, 31, b@b.com, 신림동']

In [61]:
#for문을 활용해서 파일 생성 
with open('data/ch.09_2test.txt','w',encoding='utf-8') as f:
    for line in test_push:
        f.write(line)

In [62]:
#writelines를 사용해서 파일 생성
with open('data/ch.09_1test.txt','w', encoding='utf-8') as f:
    f.writelines(test_push)

In [63]:
#한 줄 씪 읽기 #readline() : 한줄씩 읽어오는 함수 
with open('data/ch.09_1test.txt', 'r', encoding='utf-8') as f:
    line = f.readline()
    print(line)

홍길동, 33, a@a.com ,신림동

In [29]:
#한 줄씩 계속 읽기(while문 활용해서)
with open ('data/ch.09_1test.txt', 'r', encoding='utf-8') as f:
    while True:
        line = f.readline()
        if not line:
            break
        print(line) #줄이 띄어져 있음
        print(line.strip()) #줄간격 없이 바로 밑으로 내려오게 개행

홍길동, 33, 신림동

홍길동, 33, 신림동
유성미,31,신림동
유성미,31,신림동

In [64]:
#한줄씩 읽기
with open('data/ch.09_1test.txt', 'r', encoding='utf-8') as f:
    line = f.readline()
    while line != '':
        print(line, end='')
        line = f.readline()

홍길동, 33, a@a.com ,신림동
유성미, 31, b@b.com, 신림동

In [65]:
#모든 줄 읽기
with open('data/ch.09_1test.txt', 'r', encoding='utf-8') as f:
    lines = f.readlines()
    print(lines)

['홍길동, 33, a@a.com ,신림동\n', '유성미, 31, b@b.com, 신림동']

In [45]:
with open ('data/ch.09_1test.txt', 'r', encoding='utf-8') as f:
    lines = f.read()
    print(lines)

홍길동, 33, 신림동
유성미,31,신림동

In [66]:
lines

['홍길동, 33, a@a.com ,신림동\n', '유성미, 31, b@b.com, 신림동']

In [67]:
data = ['홍길동, 33, 신림동\n', '유성미,31,신림동']
for line in data:
    line = line.strip()
    dem = line.split(',')
    print(dem)

['홍길동', ' 33', ' 신림동']
['유성미', '31', '신림동']

In [69]:
#리스트에 안 넣고 텍스트 출력하는 방식. 모든 텍스트 다 한번에 한줄에 가능

with open('data/ch.09_1test.txt', 'r', encoding='utf-8') as f:
    for line in f:
        print(line.strip())

홍길동, 33, a@a.com ,신림동
유성미, 31, b@b.com, 신림동

## 2-1.형식이 있는 txt 데이터 불러오기

In [70]:
class Member:
    def __init__(self, name, age, email, address):   #객체 생성자/ 생성될 때 변수 설정
        self.name = name
        self.age = age
        self.email = email
        self.address = address
    def __str__(self):                                #객체 문자열로 출력하기 위해서 
        return "{},{},{},{}".format(self.name,
                                    self.age,
                                    self.email,
                                    self.address)
    def as_dict(self):                                 #객체를 딕셔너리 형태로 반환(데이터 가공)
        return {
            'name':self.name,
            'age' :self.age,
            'email' :self.email,
            'address':self.address
        }
    #__eq__ 두개의 값이 같은지 비교할 때 쓰임 (==와 동일함?)
    def __eq__(self, other):
        return self.name == other.name and \
               self.age == other.age and \
               self.email == other.email and \
               self.address == other.address

In [71]:
user1 = Member('홍',20,'a@a.com','신림동')
user2 = Member('홍',20,'a@a.com','신림동')
print(user1==user2)
print(user1.__eq__(user2))

True
True

In [72]:
user_list = [] #member list
user_dict = [] #딕셔너리 list

with open('data/ch.09_1test.txt','r',encoding='utf-8') as txt_file:
    lines = txt_file.readlines()
for line in lines:
    data = line.split(',')
    name = data[0]
    age = int(data[1].strip())
    email = data[2].strip()
    address = data[3].strip()
    
    user = Member(name,age,email,address)
    user_list.append(user)
    user_dict.append(user.as_dict()) #

In [75]:
user_dict

[{'name': '홍길동', 'age': 33, 'email': 'a@a.com', 'address': '신림동'},
 {'name': '유성미', 'age': 31, 'email': 'b@b.com', 'address': '신림동'}]

In [77]:
for user in user_list:
    print(user)

홍길동,33,a@a.com,신림동
유성미,31,b@b.com,신림동

In [78]:
import pickle
with open('data/ch09_member1_test.data', 'wb') as f:
    pickle.dump(user_list, f)

In [79]:
with open('data/ch09_member1_test.data', 'rb') as fi:
    load_user_list = pickle.load(fi)

In [80]:
user_list == load_user_list

True

In [81]:
print(user_list)

[<__main__.Member object at 0x0000023BFC1681C0>, <__main__.Member object at 0x0000023BFC16A8C0>]

In [82]:
print(load_user_list)

[<__main__.Member object at 0x0000023BFBBB3F40>, <__main__.Member object at 0x0000023BFC0FE170>]

In [84]:
for idx in range(len(user_list)):
    print(idx,user_list[idx])
    print(idx, load_user_list[idx])

0 홍길동,33,a@a.com,신림동
0 홍길동,33,a@a.com,신림동
1 유성미,31,b@b.com,신림동
1 유성미,31,b@b.com,신림동