In [3]:
from IPython.display import display, HTML 
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
 """))

<font size="5" color="orange">CH.03 데이터구조</font>
# 1절. 리스트 
- **리스트 [], 튜플(), 딕셔너리{}, 셋 / #import가 필요없는 여러가지 자료를 한 변수에 담는게 목적** \
    #리스트와 튜플 차이는?\
    #불용어:삭제 단어 를 쓸 때는 셋을 사용 \
    #리스트는 수정할 수 있으나 튜플은 수정할 수 없음 
    
## 1.1 리스트 만들기
- []를 이용해서 만들며, 여러개 값(여러 타입)을 저장/관리할 수 있음 (관리:정렬,추가,삭제 등)
- list(리스트로 변환 가능한 자료)함수 이용도 가능 (*리스트로 형변환이 가능한 자료를 넣어야 함)
- 특정한 값을 가져오고 싶다면 index 사용가능
- 인덱스 : 각 요소의 위치, 0부터 시작. 맨 마지막 인덱스는 -1
- 슬라이싱 가능 ( [from:stop:step]) from부터 step앞까지 step만큼 전진 : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 읽기/쓰기 지원

In [6]:
fruits = ["banana", "apple", "orange", "grape"]
type(fruits)

list

In [7]:
print(fruits)
print(fruits[0])

['banana', 'apple', 'orange', 'grape']
banana

In [8]:
fruits[0] = "mango"
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [27]:
fruits = ['mango', 'apple', 'orange']
x, y, z = fruits
print(f'x={x}')
print(f'y={y}')
print(f'z={z}')
print(f'fruits={fruits}')

x=mango
y=apple
z=orange
fruits=['mango', 'apple', 'orange']

In [28]:
# range(form:to:by) : ~부터 ~앞까지 (슬라이싱이랑 똑같음 앞까지 세야함)
    #from부터 to앞까지 by씩 증가하면서 지정된 범위의 정수
    #from 생략시 : 0
    #by 생략시 :1
    
range(0,10)
print(list(range(0,10)))
print(list(range(0,20,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [29]:
list(range(10,-1,-2))

[10, 8, 6, 4, 2, 0]

In [30]:
#반복문(3회)
for i in [0,1,2] : 
    print(i)

0
1
2

In [33]:
#반복문 문법 
for i in list(range(6)) : #for 문법에서 들여쓰기 필수 (블럭)
    print(i)

0
1
2
3
4
5

In [41]:
fruits = ['mango', 'apple', 'orange', 'grape'] #in뒤에 나열가능한 수 
for i in range(len(fruits)):     #range(*마지막 인덱스+1)  #range(len(fruits)) : 리스트 데이터 수 
    print(fruits[i])

#print(fruits[0])
#print(fruits[1])
#print(fruits[2])

mango
apple
orange
grape

In [46]:
for value in fruits :     
    print(value)

mango
apple
orange
grape

In [54]:
fruits = ['mango', 'apple', 'orange', 'grape']
#[[0, 'mango'], [1, 'apple'], [2, orange], [3, grape]]를 만드는 함수 (enumerate 나열가능한 자료)
# (index,값)들의 셋들을 만듬
#※웹크롤링 할 때 많이 씀

In [57]:
for idx, value in enumerate(fruits):
    print("{}번째 과일은 {}입니다". format(idx, value))

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 grape입니다

In [60]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'grape')]

In [69]:
#리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [0, True, '2', 3, [4,5,6]] #모두 가능
print(numbers)
print(numbers[1])
#4번째 객체[4,5,6]중에서 5만 어떻게 가져와야할까? (리스트 안에 있는 리스트를 가져오는 방법)
print(numbers[4][1])

[0, True, '2', 3, [4, 5, 6]]
True
5

In [88]:
#90점 100점 95점 3학생의 국어 점수
#3학생의 국영수점수를 담아내는것
# 2차원 리스트라고 함.(리스트안에 리스트가 들어있는것) / 논리적인 접근으로 2차원으로 명칭

numbers_2d = [[90, 90, 92, 93],
             [85, 86, 82, 83],
             [70, 71, 72, 73]]

len(numbers_2d),len(numbers_2d[0])

(3, 4)

In [89]:
i = 10

In [84]:
for idx, row in enumerate(numbers_2d) :
    print(idx,row)

0 [90, 90, 92, 93]
1 [85, 86, 82, 83]
2 [70, 71, 72, 73]

In [97]:
for i, row in enumerate(numbers_2d) :
    for j, value in enumerate(row) : 
        print("{}행{}열:{}".format(i, j,value) ,end='\t')
    print() #()안에 end='\n'생략이 기본적으로 되어있어서 1줄이 끝나면 밑으로 내려라 실행

0행0열:90	0행1열:90	0행2열:92	0행3열:93
1행0열:85	1행1열:86	1행2열:82	1행3열:83
2행0열:70	2행1열:71	2행2열:72	2행3열:73

In [114]:
# 90 91 92 93
# 80 81 82 83
# 70 71 72 73 이 나와야함

for value in numbers_2d :     
    for item in row :
        print(item, end='\t')
    print()

70	71	72	73
70	71	72	73
70	71	72	73

In [112]:
for row in numbers_2d:
    print(row)

[90, 90, 92, 93]
[85, 86, 82, 83]
[70, 71, 72, 73]

## 1.2 기본 정보 조회

In [121]:
numbers = [1,12,3,5,4] #정렬되지않는 값
numbers_2d = [[100, 0],
              [9, 100],
              [50,54]]

In [122]:
# 요소의 수 (아이템 수/데이터 수)
print(len(numbers),len(numbers_2d))

5 3

In [123]:
# 최소값, 최대값
min(numbers), max(numbers)

(1, 12)

In [127]:
# 2차원 list의 min() : 첫번째 요소(0번 인덱스)가 가장 작은 것
#             max() : 0번째 인덱스 요소가 가장 큰 것
min(numbers_2d),max(numbers_2d)

([9, 100], [100, 0])

In [128]:
# 문자 list의 경우 ascii 코드값으로 min(),max() 적용

fruits = ['mango', 'apple', 'orange','APPLE']
min(fruits), max(fruits)

('APPLE', 'orange')

In [134]:
numbers = [1, 12, 3, 5, 4]
#정렬(오름차순, 내림차순) *문자도 정렬 가능
print('오른차순 :', sorted(numbers)) #sorted안에 나열가능한 데이터만 가능 
print('내림차순 :', sorted(numbers,reverse=True))
print('sorted함수 사용시 리스트 내용이 바뀌지 않음 :', numbers)
print('합 :', sum(numbers))

오른차순 : [1, 3, 4, 5, 12]
내림차순 : [12, 5, 4, 3, 1]
sorted함수 사용시 리스트 내용이 바뀌지 않음 : [1, 12, 3, 5, 4]
합 : 25

## 1.3 요소 추가
```
+ : 두 리스트 연결해서 추가
* : 리스트를 곱한 수만큼 반복
append() : 맨 뒤에 요소 추가
extend() : 맨 뒤에 리스트를 요소별로 추가
insert(idx, 값) : idx번째 인덱스 위치에 추가(기존 데이터는 shift)
    지정된 위치에 추가
```

In [136]:
numbers = [1, 2, 3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [164]:
#추가 
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [165]:
numbers.append([5, 6, 7]) #list 그대로 들어감. 맨뒤에 하나의 요소로 추가됨
print(numbers)

[1, 2, 3, 4, [5, 6, 7]]

In [166]:
num = [1, 2, 3] #list(단일 요소)가 아닌 요소별로 각각 추가
num.extend([4,5,6,7])
print(num)

[1, 2, 3, 4, 5, 6, 7]

In [167]:
num.insert(2,'X')
print(num)

[1, 2, 'X', 3, 4, 5, 6, 7]

## 1.4 인덱싱과 요소 갯수
- 변수[index] : 인덱스를 이용한 접근 (몇번째에 무슨데이터가 있는지 찾는것) **체크 필요**
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환 (무슨데이터가 몇번째에 있는지 찾는것?)
                     찾을데이터가 없는 경우 오류 발생
- count(찾을데이터) : 리스트에서 찾을데이터의 갯수 반환

In [174]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.count(2), numbers.count(-2)

(2, 0)

In [178]:
numbers.index(2) #0번째 index부터 2가 처음 나오는 index를 반환

1

In [179]:
numbers.index(2, 2) #2번째 index가 처음 나오는 index를 반환

5

In [188]:
if numbers.count(9) :
    numbers.index(9)
else:
    print('9가 없음')

9가 없음

In [191]:
if 9 in numbers:
    print(numbers.index(9))
else:
    print('9가 없음')

9가 없음

In [192]:
9 in numbers #numbers 리스트에 9가 존재하는지 여부 파악 
#index 함수는 in과 대부분 함께 쓴다. 왜? 오류가 나는걸 잡아주기 때문에

False

In [194]:
#함수 만들기 :def
def safe_index(lst, data) : #lst안에 data가 있는지 여부
    if data in lst :
        return lst.index(data)
    else: 
        return -1

In [195]:
safe_index(numbers,9)

-1

## 1.5 원하는 요소 추출

1. 리스트 슬라이싱 : 리스트에서 원하는 index의 데이터를 추출 (인덱스의 범위를 벗어나도 에러 안 남)
       -  [from:stop:step] from부터 stop앞까지 step씩 증가하는 index의 값을 추출
       -  from 생략시 처음부터, stop 생략시 끝까지. step 생략시 1칸씩. 모두 생략 가능
       -  음수 인덱스 가능
2. <font color="red">**리스트 컴프리헨션**</font> : 리스트에서 원하는 데이터를 추출
        *컴프리헨션을 못하면 if문법이 많아짐

In [216]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
#짝수번째 인덱스 값 출력
print(numbers[::2])
#꺼꾸로 출력
print(numbers[::-1])

[1, 5, 10, 13]
[20, 13, 12, 10, 9, 5, 3, 1]

In [218]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
#리스트에서 모든 데이터를 변수에 담아 출력하시오.
#비추
result = []
for data in numbers:
    result.append(data)
print(result)

[1, 3, 5, 9, 10, 12, 13, 20]

In [225]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
#짝수만 뽑아내라
#비추 

#**선생님 자료 확인**
result= []
for data in numbers:
    if not data%2:   #{}%2의 값이 0일 때 
        result.append(data)
print(result)

[10, 12, 20]

In [223]:
# numbers의 모든 데이터를 리스트 컴프리헨션으로 추출
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 20]

In [226]:
# numbers의 짝수 데이터를 리스트컴프리헨션으로 추출
[data for data in numbers if data%2==0]

[10, 12, 20]

In [251]:
# ex1. 리스트에서 10 이상만 추출
numbers = [1, 3, 5, 9, 10, 12, 13, 20]

[data for data in numbers if data>=10]

[10, 12, 13, 20]

In [254]:
# ex2. fruists에서 5글자가 넘는 과일만 추출
fruits = ['orange','apple','mango','kiwi']

[data for data in fruits if len(data)>5]
[data for data in fruits if len(data)>5]

['orange']

In [256]:
#★다시 해보기 문제!!!
# ex3. 3이상의 요소들의 제곱을 추출
L = [1, 2, 3, 4, 5]

[data**2 for data in L if data >=3]

    
#**2

[9, 16, 25]

In [265]:
# 퀴즈 망고를 찾아라
fruits = ['orange','apple','mango','kiwi']


fruits.index("mango")

2

In [264]:
print(fruits[2])

mango

In [266]:
#퀴즈  순서를 바꿔서 키위,망고,오렌지,사과 나타내기 

fruits = ['orange','apple','mango','kiwi']

## 1.6 요소 수정하기

In [300]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
#index를 이용해서 요소 수정 
numbers[2]=222 
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [303]:
# 슬라이싱을 이용해서 요소 수정
# 부분 리스트를 잘라서 가져오면 변환되는 갯수 상관없이 설정 가능(**step이 미포함인 경우**)
# 오른쪽 값이 많거나 적어도 상관없음. 그 자리 그대로 변경하는것이라서
numbers[1:4] = ['o0o']
numbers

[0, 'o0o', 6, 7, 8, 9]

In [308]:
# 슬라이싱을 이용해서 요소 수정 (**step 부분 포함인 경우**) ※ 요소 갯수가 맞아야 함
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2] = ['a','b','c','d','e']
numbers

['a', 1, 'b', 3, 'c', 5, 'd', 7, 'e', 9]

##  1.7 요소 삭제하기
- pop() : 가장 마지막 인덱스 요소가 반환되고 삭제
- pop(idx) : idx번째 요소가 반환되고 삭제 (뒤에 숫자들은 앞으로 밀려짐) 
- remove(지울data) : 리스트안의 data 삭제 
- del 변수[idx] : idx번째 요소가 삭제

In [332]:
numbers = [1, 2, 3, 4, 5]
delete_data = numbers.pop()
print(numbers)
print("삭제된 데이터:{}, 리스트:{}".format(delete_data, numbers))

delete_data2 = numbers.pop(0)
print("삭제된 데이터:{}, 리스트:{}".format(delete_data2, numbers))

del numbers[2]
print('numbers:',numbers)

[1, 2, 3, 4]
삭제된 데이터:5, 리스트:[1, 2, 3, 4]
삭제된 데이터:1, 리스트:[2, 3, 4]
numbers: [2, 3]

In [337]:
#remove는 반환값이 없고, 해당 데이터만 삭제. 해당 데이터가 없으면 오류 
numbers = [1, 2, 3, 4, 5]
del_num = numbers.remove(3)
print(del_num)
print(numbers)

None
[1, 2, 4, 5]

In [338]:
 numbers.remove(9)

ValueError: list.remove(x): x not in list

In [339]:
if 9 in numbers:     # remove를 사용했을 때 없는 값을 입력하면 오류 남 필히 in과 함께 사용필요 
    numbers.remove(9)
    
else:
    print('해당 데이터가 없습니다.')

해당 데이터가 없습니다.

In [340]:
def save_remove(lst,remove_data):
    if remove_data in lst:
        lst.remove(remove_data)
        print(remove_data, '삭제 완료')
    else:
        print(f'{remove_data}는 없는 아이템입니다.')

In [345]:
save_remove(numbers, 9)
save_remove(numbers,5)
save_remove(numbers, 9)
save_remove(numbers,5)

9는 없는 아이템입니다.
5는 없는 아이템입니다.
9는 없는 아이템입니다.
5는 없는 아이템입니다.

In [346]:
numbers

[1, 2, 4]