In [1]:
from IPython.display import display, HTML 
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
 """))

<font size="6" color="GREEN">CH.02 자료형과 연산자</font>
# 1절 변수
- 파이썬은 변수선언을 위한 과정이 없음. 할당과 동시에 타입이 지정되고 값이 할당됨

## 1.1 변수 할당
- 할당연산자(=)를 이용해서 값을 할당하면 타입이 세팅
- 파이썬에서의 모든 변수는 객체로 저장

In [3]:
r = 5
area = 3.14 * r * r
print("계산된 넓이는",area)

계산된 넓이는 78.5

In [5]:
import numpy as np
area = np.pi * r * r
print('area =', area)

area = 78.53981633974483

In [6]:
area.is_integer() # area가 integer인지 여부를 반환

False

In [16]:
print('area의 주소 :',id(area)) #id(area) : area 변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 2712859191280
area의 타입 : <class 'str'>

In [17]:
area = 5.5
print('area의 주소 :',id(area)) #id(area) : area 변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 2712835703376
area의 타입 : <class 'float'>

In [18]:
area = 10 
print('area의 주소 :',id(area)) #id(area) : area 변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 2712756748816
area의 타입 : <class 'int'>

In [19]:
area = "파이썬"
print('area의 주소 :',id(area)) #id(area) : area 변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 2712831418864
area의 타입 : <class 'str'>

## 1.2변수 이름 규칙
- 문자로 시작 (숫자로 시작 불가)
- 문자, 숫자, _(언더바)로 변수명 작성 (- 다시 / .점 / ,쉼표 불가)
- 함수명은 변수이름으로 가능하나 피한다. 만약에 써야한다면 int_식으로 _(언더바)를 이용
- 파이썬 예약어(for,..)는 변수이름 사용 불가
- 한글변수는 꼭 필요시에만 이용
- 대문자로 시작한 변수, 함수명의 변수는 강력비추 (ex. Print =10)

In [21]:
이름 = "홍길동"
print(이름)

홍길동

In [22]:
이름

'홍길동'

In [25]:
# memver.name = "홍길동"
member_name = "홍길동"
memberName = "홍길동"

In [27]:
Print = 10 # 대문자로 시작한 변수, 함수명의 변수는 강력비추 
print(Print)

10

In [28]:
# 파이썬에서의 숫자 : 정수(소수점이 없는), 실수(소수점이 있는), 복소수
i = 3 + 3j #복소수
type(i)

complex

In [30]:
isinstance(i, complex) # i변수(객체)가 complex인지 여부 / complex는 복소수를 뜻함

True

## 1.3 도움말

In [31]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [34]:
help() # help를 빠져나오려면 q입력 ESC+O : 결과 접기 / 펴기

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> Q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [36]:
# 도움말 기능 : shift+tab키 tqb키 두번누르면 더 길게 나옴
print()

In [47]:
def add(x, y=0):
    '''
    매개변수 2개를 받아 두자리 숫자로 만들어요
    x = 10의 자리수가 됨
    y = 1의 자리수가 됨
    사용법 : add(2, 3) => 23
    '''
    return x*10 + y

In [48]:
add(2)

20

In [49]:
a = add 
a(2,3) #변수에 텍스트는 ""에 작성

23

## 1.4 다중 변수 할당

In [ ]:
a = 10
b = 20

In [50]:
a, b = 10, 20
print(a, b)

10 20

In [51]:
# 다중 변수 할당시 순차적 할당이 아니고, 일괄 동시 할당
a, b = b, a+b
print(a, b)

20 30

# 2절. 화면입출력(i/o)

In [71]:
# input() : 사용자로부터 값을 입력받기 위한 함수. 문자열로 입력  input은 숫자를 안 받고 텍스트로만 받음
# int는 인테전(정수)를 뜻함      

first = input("첫번째 숫자는?")
first

첫번째 숫자는?2

'2'

In [59]:
second = input("두번째 숫자는?")

두번째 숫자는? 2

In [69]:
sum = int(first) + int(second)
print('합:', sum)

합: 4

In [72]:
first = int(input('첫번째 수는?'))
second = int(input('두번째 수는?'))
sum = first + second
print('합', sum)

첫번째 수는?5
두번째 수는?9
합 14

In [83]:
print('합', sum, sep='=', end= '\n')
print('합', sum, sep='..', end= '')
print('합', sum, sep='은', end= '')
print('합', sum, sep='~', end= '')

합=14
합..14합은14합~14

In [85]:
import sys
print('hello', 'world', sep=",", file=sys.stdout)

hello,world

# 3절. 기본 자료형
- 자료형에 따라 값의 크기와 저장방식이 달라짐
    - 숫자 : int, float, complex
    - 문자 : str
    - 논리 : bool (오직 True / False 만 나타남)  
    
 ## 3.1 숫자형

In [87]:
import sys
sys.maxsize #정수의 최대값 2**63-1 (2의 63승 -1)

9223372036854775807

In [89]:
i = sys.maxsize + 1000
print(i)
print(type(i))

9223372036854776807
<class 'int'>

In [93]:
f = 4/2  #정수/정수는 무조건 실수값으로 나타남
f

2.0

In [96]:
# 자바처럼 정수/정수의 결과를 정수로 만들기는
f = 4//2 #몫연산자
print(f) 
f = int(4/2)
print(f)

2
2

In [95]:
f = 3//2 #몫연산자
f

1

In [98]:
c = 1j #수학시간의 0+1i
print(c**2) # **승연산자(제곱)

(-1+0j)

In [100]:
f = 1.12e12 # 1.12의 10의 12승 1120000000000 / 해당 문법은 지수형 표현
print('지수형 표현할당시 실수형으로 저장 :', f)
f = 1.12e-12 # 0000000000112
print('지수형 표현할당시 실수형으로 저장 :',f)

지수형 표현할당시 실수형으로 저장 : 1120000000000.0
지수형 표현할당시 실수형으로 저장 : 1.12e-12

##  3.2문자형
쌍따옴표 ("-")나 홑따옴표('-')이용

In [113]:
name = "홍길동\"짱\"" #홍길동 "짱"
name = '홍길동"짱"'
address =  "서울시 관악구 '신림동'" #서울시 관악구 '신림동' *문자안에 ''이 있으면 ""로 감싸기
print (name, address)

홍길동"짱" 서울시 관악구 '신림동'

In [118]:
# 문자형 변수 여러줄 
text = ''' 안녕하세요. 여러줄짜리 내용 
줄바꿈문자를 쓰지 않고 따옴표 3개로 처리 
이처럼 쓰는 경우가 아주 많아용'''
print(text)

 안녕하세요. 여러줄짜리 내용
줄바꿈문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 아주 많아용

### ※문자열 연산

In [123]:
'''
 여러줄 주석 용도
 2025.04.08. 문자열 연산 소스 by 아무개
'''

name1 = "홍길동"
name2 = "김동해"
print (name1 + name2)

홍길동김동해

In [125]:
print(name1 *3) #*(곱하기)는 문자열 반복

홍길동홍길동홍길동

### ※raw 데이터
- 용도 : 정규표현식 이용, 디렉토리 경로 표현식 이용

In [3]:
print(r'Hello\nWorld') #r을 붙이면 문자로 해석  / 정규표현식에서는 r을 많이 씀
print('Hello\\nWorld')

Hello\nWorld
Hello\nWorld

정규표현식
``` (탭위에키 esc와 탭 사이 - 필드 설정) / (마크업 셀에서 백틱은 블록을 만들 때 사용)
1. 참조 : 위키백과
2. 간략한 문법 : 
    \d (숫자와 매치, [0-9]와 동일
    \D (숫자가 아닌것)
    \w (영문자나 숫자, [a-zA-Z0-9]
    \W (영문자나 숫자가 아닌 문자) 
    . (문자 하나를 뜻함)
    \.(.의미) ※여기에서 역슬래시는 해석하는것
    \-(-의미) 
    {2, 3} (2~3번 반복) ※반드시 앞에 숫자가 작아야 함.
    {4}    (4번 반복)
    {2,}   (2번 이상 반복)
    +      (1번 이상 반복)
    *      (0번 이상 반복)
    ?      (0번 이나 1번 반복)
    
3. 정규표현식 연습장(https://regexr.com/)
[0-9] {2,3} = \d{2,3} (숫자 2번이나 3번) 
\d{2,3}-\d{3,4}-\d{4} : 전화번호 정규표현식
    ex1. 전화번호 : 010-9999-9999 02-7777-7777 01099998888 0257412341 
                    02)111-2222 010 2222 2333 010.2222.3333
                    
                    *성미가 한 소스
                    \w{2,3}[\)\- ?\.]\w{3,4}[- ?\.]\w{4} = 연속된 번호 제외하고 모두(7개) 추출
                    \w{10,11} = -./등 없이 연속된 번호만 따로 추출 
                    
                    *선생님이 한 소스 
                    [0-9]{2,}[\-) .]?[0-9]{3,4}[[\- .]?[0-9]{4}
                    \w{3,}@[a-zA-Z0-9가-힣]+(\.[a-zA-Z]+){1,2}
                    
    ex2. 이메일 : abc12@naver.com / abc123@0t7.co.kr / abc@한국.com / a_b_c@gmail.com /  abc@한국-com
4.소스 구현 

```

In [24]:
import re
data = "홍길동인데 전번이 02-888-8888, 010 9999-9999 동해번쩍 서해번쩍 ㅋㅋ ㅜㅜ@@@@ \
오늘 날씨 너무 좋아요 이렇게 날씨가 좋다니 "
print(data)

홍길동인데 전번이 02-888-8888, 010 9999-9999 동해번쩍 서해번쩍 ㅋㅋ ㅜㅜ@@@@ 오늘 날씨 너무 좋아요 이렇게 날씨가 좋다니

In [7]:
tel_pattern = r"[0-9]{2,3}[\-) .]?[0-9]{3,4}[[\- .]?[0-9]{4}"

In [11]:
# 해당 패턴을 다 찾아줌. 없으면 []반환 (빈리스트 반환)
tels = re.findall(tel_pattern, data)
tels

['02-888-8888', '010 9999-9999']

In [13]:
# search()는 : 정규표현식 패턴과 일치하는 처음단어만 찾음
pattern = "(\d{2,3})-(\d{3,4})-(\d{4})"
firstTel = re.search(pattern, data)
firstTel

In [14]:
data[10:21] #문자 슬라이싱

'02-888-8888'

In [23]:
print('전화번호 전체 :', firstTel.group(0))
print('국번          :', firstTel.group(1))
print('중간번호      :', firstTel.group(2))
print('끝번호        :', firstTel.group(3))

전화번호 전체 : 02-888-8888
국번          : 02
중간번호      : 888
끝번호        : 8888

In [31]:
re.sub(r'[^가-힝0-9\s]', '', data)  #특수문자, 자음, 모음 없애기  

#^은 특수문자 제외하는 방법  ^없이 하면 특수문자가 나옴 
# \s = 스페이스(띄어쓰기) 뜻

'홍길동인데 전번이 028888888 010 99999999 동해번쩍 서해번쩍   오늘 날씨 너무 좋아요 이렇게 날씨가 좋다니 '

In [33]:
# 파일 경로에는 반드시 r,\\,/ 중 하나를 사용 
file_path = r"C:\ai_x\source\01_python\text.txt"
file_path = "C:\\ai_x\\source\\01_python\\text.txt"
file_path = "C:/ai_x/source/01_python/text.txt"

In [35]:
file_stream = open(file_path, 'w') # w=출력 r=입력
print("Hello", "world", sep=" ~ ") # 콘솔 출력
print("Hello", "world", sep=" ~ ", file=file_stream) #파일 출력
file_stream.close() #close를 하지 않으면 파일저장 안 됨

Hello ~ world

### ※문자열 슬라이싱
변수 = 값 \
변수 = 값들 \
['ㅁ','ㅍ']

In [36]:
str_ = '0123456789'
str_

'0123456789'

In [44]:
# 문자 인덱싱
str_[0], str_[2], str_[-8], str_[7], str_[-2]

('0', '2', '2', '7', '8')

In [45]:
str_[20] #없는 인덱싱은 에러 str은 변수임.

IndexError: string index out of range

In [ ]:
'''
문자변수[from:stop] : from부터 stop앞까지 추출 (슬라이싱)
문자변수[from:stop:step] : from부터 step앞까지 step씩 전진하면서 추출 
    step 생략시 1 
    from 생략시 처음부터
    stop 생략시 끝까지
'''

In [48]:
str_[0:5] #0번째부터 5번째 앞까지 alt+enter누르면 중간에 셀생성

'01234'

In [50]:
str_[-5:-1] #5=-5번째부터 -1번째 앞까지 나타남

'5678'

In [52]:
str_[-4:] #-4번째부터 생략했으므로 끝까지 나타남

'6789'

In [53]:
str_[-4:20] #슬라이싱시 인덱스 범위를 벗어나면 끝까지를 의미

'6789'

In [47]:
str_[0:8:2] # 0번부터 8번앞까지인데 2번씩 띄어서 가지고 온다.

'0246'

In [54]:
str_[9:0:-1]

'987654321'

In [58]:
str_[9:0:-3]

'963'

In [73]:
# 첫문자~6번째 인덱스까지 추출
print(str_[0:7])
# 5번째 인덱스부터 끝까지 추출
print(str_[5:])
# str_를 꺼꾸로 출력
print(str_[-1::-1])
print(str_[::-1])

0123456
56789
9876543210
9876543210

## 3.3논리형(True/False)

In [93]:
a = True
print(a) # a:매개변수=인자
print(type(a)) # a변수의 타입
print(isinstance(a, bool)) # isinstance(변수, 타입) : 변수가 해당 타입인지 여부를 묻는 방법
print('a 주소 :', id(a))
b = True
print('b 주소 :',id(b))
b = False
print('b 주소 :', id(b))

True
<class 'bool'>
True
a 주소 : 140735859738832
b 주소 : 140735859738832
b 주소 : 140735859738864

In [90]:
int(True), int(False) 
#주의 flase로 간주되는 것 : 0, ""(빈스트링), None, [](리스트), (), {}(빈딕셔너리) 
#flase외의 값은 다 True " "
# 파이썬은 줄맞춤 잘 챙기기

(1, 0)

In [88]:
if {} :
    print('True')
else:
    print('Flase')

Flase

## 3.4 자료형 확인 및 형변환 함수 
문자,숫자,논리

- type(변수)
- isinstance(변수, 타입)

형변환함수
- int() : 정수형으로 변환 ※int("10,5")는 에러남
- float() : 실수형으로 변환 (소수점)
- str() : 문자형으로 변환 "" (숫자가 문자로, true나 flase가 문자로 변환)
- bool(): 논리형으로 변환

In [127]:
int("123"), int(123.9), int(True),int("10   ")  #int는 반올림이 아님  반올림은 round

(123, 123, 1, 10)

In [126]:
float("123.5"), float("123"), float(True), float("123"), float("   123.5   ")

(123.5, 123.0, 1.0, 123.0, 123.5)

In [116]:
#int()에러나는 것들
#int("123.5")
#int(' ')
#int('')
int("1,000") #esc+o 눌러서 접고 열기

ValueError: invalid literal for int() with base 10: '1,000'

In [125]:
#float() 에러나는것들
#float("1,000.0")
#float("")
#float(" ")

123.5

In [135]:
str(10), str(10.5), str(True), str(1.12e12) #문자로 변환

('10', '10.5', 'True', '1120000000000.0')

In [140]:
bool(""), bool(0), bool(0.0), bool([]), bool({}), bool(None)

(False, False, False, False, False, False)

In [143]:
bool(" ")

True

파이썬 기본 자료형(정리)
1. 숫자 - int, float, complex
2. 문자 - str, 문자슬라이싱, raw 데이터(정규표현식, 파일경로)
3. 논리 - Flase로 판별되는 경우

# 4절. 포맷팅
- 포맷팅이란, 출력할 문자, 숫자, 날짜 데이터의 형식을 지정하는 것
- 변수와 텍스트를 결합해서 보기 좋은 새로운 텍스트를 만들 수 있음

## 4.1 문자열에 출력형식 지정

In [150]:
name = "홍길동"
age = 30
print(name,'님의 나이는 ',age,'살 입니다.', sep='')

홍길동님의 나이는 30살 입니다.

In [163]:
#옛날 방식
print("%s님의 나이는 %d살입니다."%(name,age)) #줄 맞출 수 있으나 요즘 사용 x
    # %s:문자, %d:정수  %f:실수
print(f"{name}님의 나이는 {age}살입니다.") #줄 맞출 수 없음 
print("{}님의 나이는 {}살입니다.".format(name,age)) #요즘 가장 많이 사용하는 방법
print("{}님의 나이는 {:14d}살입니다.".format(name,age)) #자리 줄맞추는 방법

홍길동님의 나이는 30살입니다.
홍길동님의 나이는 30살입니다.
홍길동님의 나이는 30살입니다.
홍길동님의 나이는             30살입니다.

## 4.2 format() 문법
-

In [167]:
"{[인덱스]:[공백대체문자][정렬방식][자릿수][타입]}".format(변수)
    #인덱스 : format함수 안에 매개변수의 순서
    #정렬방식 : <(왼쪽정렬), >(오른쪽종렬),^(중앙정렬)
    #정수자릿수 : 출력될 자릿수d. 변수 내용보다 작은 자릿수가 지정되면 자릿수 무시
    #실수자릿수 : 출력될자릿수. 소수점출력자릿수f
    #문자자릿수 : 전체확보될자릿수[.변수중출력할자릿수]s
    #타입은 : d(10진수- 정수), b(2진수), x(16진수), f(실수), s(문자)
    #16진수는 웹페이지 구현할 때 많이 씀 ex 1100 1000 1001 10011 = 16진수로 C893
    #공백대체문자를 쓸 경우 정렬방식을 반드시 기입해야 함

NameError: name '변수1' is not defined

In [191]:
name = input('이름은?')
age = int(input('나이는?'))
print("{}살 {}님 반갑습니다".format(age, name))
print("{1:*^4d}살 {0:_>10}님 반갑습니다".format(name,age))

이름은?홍길동
나이는?35
35살 홍길동님 반갑습니다
*35*살 _______홍길동님 반갑습니다

In [204]:
# 숫자의 경우 : 오른쪽 정렬(기본값)
# 문자의 경우 : 왼쪽정렬(기본값)
# 변수보다 작은 자리수를 지정하면 자릿수가 무시되고 다 출력(정수 자리수의 경우에만 가능)
i = 12345
s = "Hello"
print("[{}], [{:^10}], [{:3}]".format(i, i, i))
print("[{}], [{:>10}], [{:3}]".format(i, i, i))
print("[{}], [{:<10}], [{:3}]".format(i, i, i))
print("[{0}], [{0:^10}], [{0:3}]".format(s, s, s))
print("[{0}], [{0:>10}], [{0:3}]".format(s, s, s))
print("[{0}], [{0:<10}], [{0:3}]".format(s, s, s))

[12345], [  12345   ], [12345]
[12345], [     12345], [12345]
[12345], [12345     ], [12345]
[Hello], [  Hello   ], [Hello]
[Hello], [     Hello], [Hello]
[Hello], [Hello     ], [Hello]

In [232]:
# 실수(f) : 전체자리수.소수점이하 표현될 자리수 ※실수는 f꼭 작성해야 함
# 문자(s) : 전체자리수.표현될자리수

f = 2.758
s = "Hello"
print("f = [{0:*^5.2f}]".format(f)) #반올림
print("s = [{0:@<5.2}]".format(s))

f = [2.76*]
s = [He@@@]

In [242]:
# + : 부호를 출력(+,-) , 정수와 실수 다 됨
# = : 부호를 맨 앞에 출력
a, b = 123, -123
print("[{:5}],[{:5}]".format(a,b))
print("[{:+5}],[{:+5}]".format(a,b)) #부호 나타내기 
print("[{:=+5}],[{:=5}]".format(a,b)) #부호를 맨 앞으로 빼기

[  123],[ -123]
[ +123],[ -123]
[+ 123],[- 123]

In [251]:
#
f = 2.785
print("[{:+10.2}]".format(f))
print("[{:+10.2f}]".format(f))

[      +2.8]
[     +2.79]

In [264]:
sign = '+'
width = 10
precision = 3
print("[{:{}{}.{}f}]".format(f,
                            sign,
                            width,
                            precision))
print("[{:^{}{}.{}f}]".format(f,
                            sign,
                            width,
                            precision))
print("[{:<{}{}.{}f}]".format(f,
                            sign,
                            width,
                            precision))

[    +2.785]
[  +2.785  ]
[+2.785    ]

In [265]:
print("[{:{sign}{width}.{precision}f}]".format(f,
                            sign=sign,
                            width=width,
                            precision=precision))

[    +2.785]

In [273]:
a = 15
print("10진수 a = [{:5d}]".format(a))
print("16진수 a = [{:5x}]".format(a))
print(" 2진수 a = [{:5b}]".format(a))

10진수 a = [   15]
16진수 a = [    f]
 2진수 a = [ 1111]

## 4.3 날짜 출력
- ㅇ

In [276]:
import re
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2025, 4, 9, 17, 45, 11, 195760)

In [285]:
print("{}".format(now))
print("{:%Y년%m월%d일 %p %I시 %M분 %S초}".format(now))
print("{:%Y년%m월%d일 %H시 %M분 %S초}".format(now))

2025-04-09 17:45:11.195760
2025년04월09일 PM 05시 45분 11초
2025년04월09일 17시 45분 11초

In [291]:
print(now.strftime("%Y년%m월%d일 %H시 %M분 %S초"))

2025년04월09일 17시 45분 11초