In [5]:
from IPython.display import display, HTML 
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
 """))

<span style="color:orange; font-size: 30px; font-weight: bold;"> ch09.파일 io(입/출력) 프로그래밍 </span>

- **파일 : txt, pickle, csv, json, hdf5(h5)**

<span style="color:green; font-size: 15px; font-weight: bold;">
    
# 1절. txt 파일에 데이터 저장하고 불러오기 </span>

In [6]:
f = open('data/ch.09.txt', 'w')
print('쓰기 가능한지 여부 :', f.writable())

쓰기 가능한지 여부 : True

In [7]:
f.write('Hello\nWorld')
f.close() #close 하지않으면 쓴 내용 저장이 안 됨

In [9]:
# mode : 'r' 또는 'rt'   : 파일이 없는 경우 예외, 파일이 있는 경우 text 읽기 모드
#        'rb'           : 바이너리 읽기 모드
#        'w' 또는 'wt'  : text 쓰기모드  ('w','wt'는 파일이 있으면 덮어씀,파일이 없으면 파일 생성)
#        'wb'          : 바이너리 쓰기 모드
#        'a' 또는 'at'  : text 추가 모드 (파일이 있으면 append, 파일이 없으면 파일 생성)
#        읽기모드에서 파일이 없으며 예외/쓰기 모드에서 폴더가 없으면 예외

# encoding
#          cp949 한글 완성형
#          euc-kr 확장된 한글완성형 : open()함수 기본 encoding방식(window)
#          utf-8 한글 조합형 : open()함수 기본 encoding방식(mac, linux), 주피터노트북 기본

with open('data/ch.09.txt', 'w') as f:
    print('쓰기 가능한지 여부 :', f.writable())
    f.write('Hello\nPython')

쓰기 가능한지 여부 : True

In [16]:
# 여러줄 저장하는 방법
with open('data/ch.09.txt', 'w') as f:
# 방법1.f.write여러번 작성하기 
    f.write('홍길동, 33, 아무동9\n')
    f.write('김길동, 33, 아무동9\n')
# 방법2.리스트로 넣기 (for문으로도 가능)
    textlist = ['홍길동, 33, 아무동9\n','김길동, 33, 아무동9\n']
#     for line in textlist:
#         f.write(line)
# 방법3.f.writelines를 이용해서 한번에 넣기
    f.writelines(textlist)

In [20]:
# 한줄씩 읽기 
# with open('data/ch.09.txt', 'r') as f:
#     line = f.readline()
#     print(line)
    
# 한번에 다 읽기 
with open('data/ch.09.txt', 'r') as f:
    line = f.readline()
    while line !='':
        print(line, end='')
        line = f.readline()

홍길동, 33, 아무동9
김길동, 33, 아무동9
홍길동, 33, 아무동9
김길동, 33, 아무동9

In [25]:
#모든 줄을 읽기_깔끔하지 않음
with open('data/ch.09.txt', 'r') as f:
    lines = f.readlines()
    print(lines)

['홍길동, 33, 아무동9\n', '김길동, 33, 아무동9\n', '홍길동, 33, 아무동9\n', '김길동, 33, 아무동9\n']

In [26]:
#모든 줄을 읽기_깔끔하게 출력이 됨
with open('data/ch.09.txt', 'r') as f:
    lines = f.read()
    print(lines)

홍길동, 33, 아무동9
김길동, 33, 아무동9
홍길동, 33, 아무동9
김길동, 33, 아무동9

<span style="color:green; font-size: 15px; font-weight: bold;">
    
# 2절. pickle 파일에 데이터 저장하고 불러오기
## 2.1 형식이 있는 데이터 불러오기 </span>

In [20]:
class Member:
    def __init__(self,name,age,email,address):
        self.name = name 
        self.age = age
        self.email = email
        self.address = address
    def __str__(self):
        return "{}, {}, {}, {}".format(self.name,
                                       "성년" if self.age>18 else "미성년",
                                        self.email, 
                                        self.address)
#객체를 딕셔너리로 반환해주는 변수 만들기
    def as_dic(self):
        return { 
            'name':self.name,
            'age':self.age,
            'email':self.email,
            'address':self.address
                    }       
    #other 또는 obj(오브젝트)
    def __eq__(self, other):
        return self.name == other.name and \
               self.age == other.age and \
               self.email == other.email and \
               self.address == other.address

In [7]:
user1 = Member('홍',20,'a@a.com','신림동')
user2 = Member('홍',20,'a@a.com','신림동')
print(user1==user2)
print(user1.__eq__(user2)) 
#같은 내용이면 True가 되도록 만들고 싶음. (self.name 과 name이 같은지 하나씩 다 비교)

True
True

In [8]:
#__eq__메서드를 만든 후, 같은 값을 가지고 있는지 체크
user1 = Member('홍',20,'a@a.com','신림동')
user2 = Member('홍',20,'a@a.com','신림동')
print(user1==user2)
print(user1.__eq__(user2))

True
True

In [34]:
# 형식이 있는 txt 파일 내용을 객체 리스트 (member list(피클로 저장), 딕셔너리 list(데이터프레임)로 저장)

user_list = [] #member list
user_dict = [] #딕셔너리 list

with open('data/ch09_member.txt', 'r', encoding='utf-8') as f:
    lines = f.readlines()
#print(lines)
for line in lines:
    data = line.split(',')
#    print(data)
    name = data[0]
    age = int(data[1].strip()) #strip():좌우 공백 (space, \t, \n 제거)
    email = data[2].strip()
    address = data[3].strip()
    user = Member(name, age, email, address)
    user_list.append(user)  #member타입의 리스트 
    user_dict.append(user.as_dic())
#    user_dict.append(user.__dict__) #딕셔너리로 만들어 줌 .__dict__

In [82]:
user_dict

[{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'address': '서울시 관악구'},
 {'name': '홍길숙',
  'age': 25,
  'email': 'kilsuk1@hong.com',
  'address': '서울시 영등포구'},
 {'name': '신길동', 'age': 30, 'email': 'shinkil@hong.com', 'address': '서울시 동작구'}]

In [35]:
for user in user_dict:
    print(user)

{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'address': '서울시 관악구'}
{'name': '홍길숙', 'age': 25, 'email': 'kilsuk1@hong.com', 'address': '서울시 영등포구'}
{'name': '신길동', 'age': 30, 'email': 'shinkil@hong.com', 'address': '서울시 동작구'}

In [45]:
for user in user_list:
    print(user)

홍길동, 성년, kildong@hong.com, 서울시 관악구
홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
신길동, 성년, shinkil@hong.com, 서울시 동작구

<span style="color:green; font-size: 15px; font-weight: bold;">
    
## 2.2 피클링  </span>


- 객체 리스트(user_list) -> 피클파일로 쓰기 
- 피클 파일을 읽기-> 객체 리스트 (load_user_list)

In [74]:
#피클링을 이용한 객체를 저장하기
import pickle
with open('data/ch09_member.data', 'wb') as f:
    pickle.dump(user_list, f)

In [75]:
#저장된 피클 파일(피클링)을 이용한 파일에서 객체 데이터로 읽기
with open('data/ch09_member.data', 'rb') as f:
    load_user_list = pickle.load(f)

In [76]:
user_list == load_user_list

True

In [77]:
user_list

[<__main__.Member at 0x202f56d4a30>,
 <__main__.Member at 0x202f56d4040>,
 <__main__.Member at 0x202f56d4fd0>]

In [78]:
load_user_list

[<__main__.Member at 0x202f5db2140>,
 <__main__.Member at 0x202f5e2f940>,
 <__main__.Member at 0x202f5e2cc10>]

# 오류

In [225]:
for idx in range(len(user_list)):
    print(idx, user_list[idx])
    print(idx, load_user_list[idx])

0 {'name': '홍길동', 'age': 22, 'email': 'a@a.com', 'address': '신림동'}
0 홍길동, 성년, kildong@hong.com, 서울시 관악구
1 {'name': '김길동', 'age': 32, 'email': 'b@b.com', 'address': '신림동'}
1 홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
2 {'name': '신길동', 'age': 42, 'email': 'c@c.com', 'address': '신림동'}
2 신길동, 성년, shinkil@hong.com, 서울시 동작구

In [80]:
for idx, (user, load_user) in enumerate(zip(user_list, load_user_list)):
    print(idx, user)
    print(idx, load_user)
    print(user==load_user)

0 홍길동, 성년, kildong@hong.com, 서울시 관악구
0 홍길동, 성년, kildong@hong.com, 서울시 관악구
True
1 홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
1 홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
True
2 신길동, 성년, shinkil@hong.com, 서울시 동작구
2 신길동, 성년, shinkil@hong.com, 서울시 동작구
True

In [81]:
result = []
for user, load_user in zip(user_list, load_user_list):
    result.append(user==load_user)
all(result)

True

<span style="color:green; font-size: 20px; font-weight: bold;">
    
# 3절. CSV 형식 파일 읽기/쓰기 </span>

- csv 파일 -> 리스트 데이터로 읽기 (3.1 읽기 / 3.2 쓰기) ['홍길동',20,'a@a.com']
- csv 파일 -> 딕셔너리 데이터로 읽기 (3.3 읽기 / 3.4 쓰기)

## 3.1 reader(csv 파일을 리스트 데이터로 읽기)

In [69]:
import csv 
#메모장에서 열리면 rt, 안 열리면 바이너리 rb
with open('data/ch09_member1.csv','r',encoding='utf-8') as f: 
    reader = csv.reader(f)  #한줄씩 읽어 리스트로 만들어줌
    result = list(reader) #result에 할당을 하면 외부에서 실행이 됨.
print(result)    
    #print(list(reader))  #reader는 with절 안에서 실행이 되고 외부에서는 안 됨.

[['홍길동', '20', 'kildong@hong.com', '서울시 관악구'], ['김길동', '40', 'kimdong@hong.com', '서울시 영등포구'], ['신길동', '30', 'sindong@hong.com', '서울시 동작구']]

In [72]:
#""(따옴표)가 없는 데이터는 numeric으로 가져오게끔 만들기
import csv 
with open('data/ch09_member1.csv','r',encoding='utf-8') as f: 
    reader = csv.reader(f,
                       quoting=csv.QUOTE_NONNUMERIC) #쿼터가 없는건 기존의 방법대로, 없는것은 숫자로 인식 
    result = list(reader) 
print(result)   

#reader = 리스트로 / dicreader = 딕셔너리로 받음

[['홍길동', 20.0, 'kildong@hong.com', '서울시 관악구'], ['김길동', 40.0, 'kimdong@hong.com', '서울시 영등포구'], ['신길동', 30.0, 'sindong@hong.com', '서울시 동작구']]

In [85]:
#받은 리스트를 딕셔너리로 변경_길어짐

import csv 
with open('data/ch09_member1.csv','r',encoding='utf-8') as f: 
    reader = csv.reader(f,
                       quoting=csv.QUOTE_NONNUMERIC) #쿼터가 없는건 기존의 방법대로, 없는것은 숫자로 인식 
    result = list(reader)
dict_list = []
for data in result: #데이터 하나가 result에 들어감
    dict_list.append({
        'name':data[0],
        'age':int(data[1]),
        'email':data[2],
        'address':data[3]        
    })
print(dict_list)

[{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'address': '서울시 관악구'}, {'name': '김길동', 'age': 40, 'email': 'kimdong@hong.com', 'address': '서울시 영등포구'}, {'name': '신길동', 'age': 30, 'email': 'sindong@hong.com', 'address': '서울시 동작구'}]

## 3.2 writer (리스트데이터를 쓰기)

In [91]:
user_list = [['홍길동', 20, 'kildong@hong.com', '서울시 관악구'], 
             ['김길동', 40, 'kimdong@hong.com', '서울시 영등포구']] #\n이 없음

In [87]:
with open('data/ch09_member1_write.csv', 'a', newline='', encoding='utf-8') as f:  #newline='' 
    writer = csv.writer(f) #writer를 통해서 쓰기
    writer.writerows(user_list)  #이렇게 하면 ""(따옴표가 없는거랑 똑같음) 스트링으로 작업이 됨

In [93]:
with open('data/ch09_member1_write.csv', 'w', newline='', encoding='utf-8') as f:  #newline='' 
    writer = csv.writer(f, quoting=csv.QUOTE_NONNUMERIC)
    writer.writerows(user_list)

## 3.3 DictReader(csv 파일을 딕셔너리로 읽기)

In [95]:
import csv
with open('data/ch09_member3.csv', 'r', encoding='utf-8') as f:
    dict_reader = csv.DictReader(f)
    print(dict_reader)

<csv.DictReader object at 0x00000202F5CC93F0>

In [96]:
import csv
with open('data/ch09_member3.csv', 'r', encoding='utf-8') as f:
    dict_reader = csv.DictReader(f)
    for row in dict_reader:
        if row['job'] is None:
            print(row['name'], row['age'],row['email'],row['address'])
        else:
            print(row['name'], row['age'],row['email'],row['address'],row['job'])

홍길동 20 h@h.com 서울시 관악구
신길동 40 s@h.com 서울시 영등포구 팀장
김길동 30 k@h.com 서울시 동작구

In [99]:
import csv
with open('data/ch09_member3.csv', 'r', encoding='utf-8') as f:
    dict_reader = csv.DictReader(f)
    dict_list = list(dict_reader)
print(dict_list)

[{'name': '홍길동', 'age': '20', 'email': 'h@h.com', 'address': '서울시 관악구', 'job': None}, {'name': '신길동', 'age': '40', 'email': 's@h.com', 'address': '서울시 영등포구', 'job': '팀장'}, {'name': '김길동', 'age': '30', 'email': 'k@h.com', 'address': '서울시 동작구', 'job': None}]

In [100]:
for row in dict_list:
    if row['job'] is None:
        print(row['name'], row['age'],row['email'],row['address'])
    else:
        print(row['name'], row['age'],row['email'],row['address'],row['job'])

홍길동 20 h@h.com 서울시 관악구
신길동 40 s@h.com 서울시 영등포구 팀장
김길동 30 k@h.com 서울시 동작구

In [109]:
#header가 없는 csv 파일(ch09_member-1.cp.csv)을 딕셔너리로 읽기
with open('data/ch09_member1-cp.csv', encoding='cp949') as f:
    dict_reader = csv.DictReader(f,
                                fieldnames=['Name','Age','Email','Address','Job']) 
    #이렇게 하면 첫번째줄의 데이터를 헤더가 있는거로 보고 출력함
    print(list(dict_reader))

[{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 관악구', 'Job': ''}, {'Name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '서울시 영등포구', 'Job': '팀장'}, {'Name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '서울시 동작구', 'Job': ''}]

In [105]:
#header가 없는 csv 파일(ch09_member-1.cp.csv)을 딕셔너리로 읽기
with open('data/ch09_member1-cp.csv', encoding='cp949') as f:
    dict_reader = csv.DictReader(f,
                                fieldnames=['Name','Age','Email','Address','Job']) 
    for row in dict_reader:  # in뒤에는 나열가능한 데이터가 있는 
        print(row)

{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 관악구', 'Job': ''}
{'Name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '서울시 영등포구', 'Job': '팀장'}
{'Name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '서울시 동작구', 'Job': ''}

In [ ]:
with open('data/ch09_member1-cp.csv', encoding='cp949') as f:
    dict_reader = csv.DictReader(f,
                                fieldnames=['Name','Age','Email','Address','Job']) 
    for row in dict_reader:  # in뒤에는 나열가능한 데이터가 있는 
        print(row)

In [111]:
with open('data/ch09_member1-cp.csv', encoding='cp949') as f:
    dict_reader = csv.DictReader(f,
                                fieldnames=['Name','Age','Email','Address','Job']) 
    result = list(dict_reader)
for row in result:  # in뒤에는 나열가능한 데이터가 있는 
    print(row)

{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 관악구', 'Job': ''}
{'Name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '서울시 영등포구', 'Job': '팀장'}
{'Name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '서울시 동작구', 'Job': ''}

In [112]:
#header가 없는 csv 파일(ch09_member-1.cp.csv)을 딕셔너리로 읽기
#job이 있을 수도 있고 없을 수도 있는 파일 읽기

with open('data/ch09_member1-cp.csv', encoding='cp949') as f:
    dict_reader = csv.DictReader(f,
                                fieldnames=['Name','Age','Email','Address'],
                                restkey='Job')   #restkey=남는것 
    result = list(dict_reader)
for row in result:  # in뒤에는 나열가능한 데이터가 있는 
    print(row)

{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 관악구', 'Job': ['']}
{'Name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '서울시 영등포구', 'Job': ['팀장']}
{'Name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '서울시 동작구', 'Job': ['']}

<span style="color:green; font-size: 15px; font-weight: bold;">
    
## 3.4 DictWriter </span>
- 딕셔너리 리스트 -> csv파일

In [125]:
user1 = {'name':'홍길동','age':22,'email':'a@a.com','address':'신림동'}
user2 = {'name':'김길동','age':32,'email':'b@b.com','address':'신림동'}
user3 = {'name':'신길동','age':42,'email':'c@c.com','address':'신림동'}
user_list = [user1, user2, user3]
list(user1.keys()) #헤더(필더이름)에는 리스트만 들어감
fieldnames = list(user1.keys())

In [127]:
with open('data/ch09_member4.csv','w', encoding='utf-8', newline='') as f:
    dict_writer = csv.DictWriter(f,
                                fieldnames=fieldnames)
    dict_writer.writeheader()  #데이터를 쓰는게 아닌 헤더를 쓰는 것 append로 하면 헤더 제외하고 작성 
    dict_writer.writerows(user_list)  #한꺼번에 리스트 다 출력

# csv파일 <-> 데이터프레임 
- 제일 많이 씀

In [128]:
import pandas as pd #pandas는 encoding이 기본 utf-8이므로 생략이 가능 
member = pd.read_csv('data/ch09_member3.csv')
member

  name  age    email   address  job
0  홍길동   20  h@h.com   서울시 관악구  NaN
1  신길동   40  s@h.com  서울시 영등포구   팀장
2  김길동   30  k@h.com   서울시 동작구  NaN

In [129]:
type(member)

pandas.core.frame.DataFrame

# 4절. JSON 데이터 저장하고 불러오기(dump,load)
- dump : 파일 출력 
- load : 변수로 읽기
- 딕셔너리리스트 <-> JSON 파일 (기본)
- 객체리스트 <-> JSON 파일
## 4.1 dump(파일 출력)

In [130]:
data = [{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'address': '서울'},
        {'name': '김길동', 'age': 30, 'email': 'kimdong@hong.com', 'address': '인천'}]

In [203]:
# ensure_ascii 옵션
    # True : 비 ASCII문자는 유니코드 형태로 저장
    # False : 비 ASCII문자 원래 형태로 저장

import json
with open('data/ch09_member.json', 'w', encoding='utf-8',) as jsonfile:
    json.dump(data, #딕셔너리 리스트
             jsonfile,
             ensure_ascii=False)

In [204]:
class Member:
    def __init__(self,name,age,email,address):
        self.name = name 
        self.age = age
        self.email = email
        self.address = address
    def __str__(self):
        return "{}, {}, {}, {}".format(self.name,
                                        self.age,
                                        self.email, 
                                        self.address)
#객체를 딕셔너리로 반환해주는 변수 만들기
    def as_dic(self):
        return { 
            'name':self.name,
            'age':self.age,
            'email':self.email,
            'address':self.address
                    }       
    #other 또는 obj(오브젝트)
    def __eq__(self, other):
        if isinstance (other, Member):
            return self.__dict__ == other.__dict__
        else:
            return False

In [146]:
user1 = Member('홍길동',22,'a@a.com','신림동')
user2 = Member('홍길동',22,'a@a.com','신림동')
print(user1.__eq__(user2))
print(user1==user2)

True
True

In [147]:
print(user1.__eq__('홍길동'))
print(user1=='홍길동')

False
False

In [141]:
print(user1.__eq__(user1))

True

In [205]:
    def __eq__(self, other):
        if isinstance (other, Member):
            #return self.__str__() == other.__str__()
            return self.__dict__ == other.__dict__
        else:
            return False

In [151]:
#객체 리스트를 json으로 넣기

member_list = [Member('홍길동',22,'a@a.com','서울'),
               Member('신길동',32,'b@b.com','서울'),
               Member('김길동',42,'c@c.com','서울')]

In [156]:
with open('data/ch09_member1.json', 'w', encoding='utf-8') as jsonfile:
    json.dump(member_list, #객체 리스트
              jsonfile,
              ensure_ascii=False,
              indent='\t',
              default=Member.as_dic   #객체를 딕셔너리로 return하는 인스턴스 함수
             )

- JSON 파일로 만드는 방법
1. 딕셔너리로 JSON파일로 만들기
2. 객체리스트를 JSON파일로 만들기 (객체리스트를 딕셔너리로 만들고 JSON파일로 바꾼다. **직접적으로 바뀌는 방법은 없음**)

- JSON 파일을 객체리스트로 만드는 방법
1. JSON 파일을 딕셔너리로 만들어서 객체리스트로 만들기

## 4.2 load(파일 입력)
- json파일 -> 딕셔너리 리스트
                 ↓
- json파일 -> 객체 리스트

In [227]:
def as_member(dic):
    '매개변수로 딕셔너리를 받아 Member 객체를 return'
    return Member(dic.get('name'), dic['age'],dic.get('email'),dic.get('address'))

In [228]:
member= as_member({'name':'홍길동','age':20,'email':'z@z.com','address':'관악구'})
print(member)

홍길동, 20, z@z.com, 관악구

In [231]:
with open('data/ch09_member.json', 'r', encoding='utf-8') as f:
    load_data = json.load(f)
load_data

[{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'address': '서울'},
 {'name': '김길동', 'age': 30, 'email': 'kimdong@hong.com', 'address': '인천'}]

In [230]:
with open('data/ch09_member1.json', 'r', encoding='utf-8') as f:
    load_member_list = json.load(f,object_hook=as_member)

## JSON -> 데이터프레임

In [190]:
import pandas as pd
pd.read_json('data/ch09_member1.json')

  name  age    email address
0  홍길동   22  a@a.com      서울
1  신길동   32  b@b.com      서울
2  김길동   42  c@c.com      서울

In [195]:
import pandas as pd
pd.read_json('data/ch09_member1.json', encoding='utf-8')

  name  age    email address
0  홍길동   22  a@a.com      서울
1  신길동   32  b@b.com      서울
2  김길동   42  c@c.com      서울


# 👀연습문제(8장)👀

In [223]:
'''ch08 실습형 연습문제 1
<두 수를 입력받아 나눗셈 연산을 하는 프로그램>
- 두 숫자는 정수 또는 실수일수 있으며, 0으로 나눌 수 없습니다.
- 올바른 두 수를 입력하고 나눗셈 연산 결과를 출력한 후 종료
'''
#ValueError  
#ZeroDivisionError  

while True:
    try:
        num1 = float(input('첫번째 숫자를 입력하세요.'))
        num2 = float(input('두번째 숫자를 입력하세요.'))
        print('입력한 수는 {}와 {}입니다.'.format(num1,num2))
        print('{}을 {}로 나누면 {}입니다.'.format(num1,num2, num1/num2))
        break
    except ValueError :
        print('유효한 숫자가 아닙니다. 다시 시도하세요.')
    except ZeroDivisionError :
        print('유효한 숫자가 아닙니다. 다시 시도하세요.')

첫번째 숫자를 입력하세요.hello
유효한 숫자가 아닙니다. 다시 시도하세요.
첫번째 숫자를 입력하세요.10
두번째 숫자를 입력하세요.0
입력한 수는 10.0와 0.0입니다.
유효한 숫자가 아닙니다. 다시 시도하세요.
첫번째 숫자를 입력하세요.3.5
두번째 숫자를 입력하세요.hello
유효한 숫자가 아닙니다. 다시 시도하세요.
첫번째 숫자를 입력하세요.3.5
두번째 숫자를 입력하세요.2
입력한 수는 3.5와 2.0입니다.
3.5을 2.0로 나누면 1.75입니다.

In [224]:
'''ch08 실습형 연습문제 2
<두 수를 입력받아 나눗셈 연산을 하는 프로그램>
- 두 숫자는 정수 또는 실수일수 있으며, 0으로 나눌 수 없습니다.
- 올바른 두 수를 입력하고 나눗셈 연산 결과를 출력한 후 종료
'''
#ValueError  
#ZeroDivisionError  

while True:
    try:
        num1 = float(input('첫번째 숫자를 입력하세요.'))
        num2 = float(input('두번째 숫자를 입력하세요.'))
        print('입력한 수는 {}와 {}입니다.'.format(num1,num2))
        print('{}을 {}로 나누면 {}입니다.'.format(num1,num2, num1/num2))
        break
    except ValueError :
        print('유효한 숫자가 아닙니다.다시 시도하세요.')
    except ZeroDivisionError :
        print('유효한 숫자가 아닙니다.다시 시도하세요.')

첫번째 숫자를 입력하세요.ab
유효한 숫자가 아닙니다.다시 시도하세요.
첫번째 숫자를 입력하세요.10
두번째 숫자를 입력하세요.0
입력한 수는 10.0와 0.0입니다.
유효한 숫자가 아닙니다.다시 시도하세요.
첫번째 숫자를 입력하세요.5
두번째 숫자를 입력하세요.3
입력한 수는 5.0와 3.0입니다.
5.0을 3.0로 나누면 1.6666666666666667입니다.

# 😢연습문제 (9장)😢

In [239]:
#클래스 정의 (customer)
class Customer:
    def __init__(self, name, call, email, age, etc):
        self.name = name 
        self.call = call
        self.email = email
        self.age = age
        self.etc = etc

In [251]:
#기존 데이터 저장하기 
data_customer = [
                '홍길동',"010-9999-9999","hong@mega_it.com",30,"열심히\n",
                '홍길동',"010-8888-8888","hong2@abc.com",31,"abc\n" 
]

In [253]:
data_str = [str(x) for x in data]

print(data_str)

["{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'address': '서울'}", "{'name': '김길동', 'age': 30, 'email': 'kimdong@hong.com', 'address': '인천'}"]

In [255]:
with open('data/ch09_testdb', 'w', encoding='utf-8') as f:
    f.writelines(data_str)