In [1]:
from IPython.display import display, HTML 
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
 """))

<font size="5" color="orange">CH.03 데이터구조</font>
# 1절. 리스트 
- **리스트 [], 튜플(), 딕셔너리{}, 셋 / #import가 필요없는 여러가지 자료를 한 변수에 담는게 목적** \
    #리스트와 튜플 차이는?\
    #불용어:삭제 단어 를 쓸 때는 셋을 사용 \
    #리스트는 수정할 수 있으나 튜플은 수정할 수 없음 
    
## 1.1 리스트 만들기
- []를 이용해서 만들며, 여러개 값(여러 타입)을 저장/관리할 수 있음 (관리:정렬,추가,삭제 등)
- list(리스트로 변환 가능한 자료)함수 이용도 가능 (*리스트로 형변환이 가능한 자료를 넣어야 함)
- 특정한 값을 가져오고 싶다면 index 사용가능
- 인덱스 : 각 요소의 위치, 0부터 시작. 맨 마지막 인덱스는 -1
- 슬라이싱 가능 ( [from:stop:step]) from부터 step앞까지 step만큼 전진 : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 읽기/쓰기 지원

In [6]:
fruits = ["banana", "apple", "orange", "grape"]
type(fruits)

list

In [7]:
print(fruits)
print(fruits[0])

['banana', 'apple', 'orange', 'grape']
banana

In [8]:
fruits[0] = "mango"
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [27]:
fruits = ['mango', 'apple', 'orange']
x, y, z = fruits
print(f'x={x}')
print(f'y={y}')
print(f'z={z}')
print(f'fruits={fruits}')

x=mango
y=apple
z=orange
fruits=['mango', 'apple', 'orange']

In [28]:
# range(form:to:by) : ~부터 ~앞까지 (슬라이싱이랑 똑같음 앞까지 세야함)
    #from부터 to앞까지 by씩 증가하면서 지정된 범위의 정수
    #from 생략시 : 0
    #by 생략시 :1
    
range(0,10)
print(list(range(0,10)))
print(list(range(0,20,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [29]:
list(range(10,-1,-2))

[10, 8, 6, 4, 2, 0]

In [30]:
#반복문(3회)
for i in [0,1,2] : 
    print(i)

0
1
2

In [33]:
#반복문 문법 
for i in list(range(6)) : #for 문법에서 들여쓰기 필수 (블럭)
    print(i)

0
1
2
3
4
5

In [41]:
fruits = ['mango', 'apple', 'orange', 'grape'] #in뒤에 나열가능한 수 
for i in range(len(fruits)):     #range(*마지막 인덱스+1)  #range(len(fruits)) : 리스트 데이터 수 
    print(fruits[i])

#print(fruits[0])
#print(fruits[1])
#print(fruits[2])

mango
apple
orange
grape

In [46]:
for value in fruits :     
    print(value)

mango
apple
orange
grape

In [54]:
fruits = ['mango', 'apple', 'orange', 'grape']
#[[0, 'mango'], [1, 'apple'], [2, orange], [3, grape]]를 만드는 함수 (enumerate 나열가능한 자료)
# (index,값)들의 셋들을 만듬
#※웹크롤링 할 때 많이 씀

In [57]:
for idx, value in enumerate(fruits):
    print("{}번째 과일은 {}입니다". format(idx, value))

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 grape입니다

In [60]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'grape')]

In [69]:
#리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [0, True, '2', 3, [4,5,6]] #모두 가능
print(numbers)
print(numbers[1])
#4번째 객체[4,5,6]중에서 5만 어떻게 가져와야할까? (리스트 안에 있는 리스트를 가져오는 방법)
print(numbers[4][1])

[0, True, '2', 3, [4, 5, 6]]
True
5

In [88]:
#90점 100점 95점 3학생의 국어 점수
#3학생의 국영수점수를 담아내는것
# 2차원 리스트라고 함.(리스트안에 리스트가 들어있는것) / 논리적인 접근으로 2차원으로 명칭

numbers_2d = [[90, 90, 92, 93],
             [85, 86, 82, 83],
             [70, 71, 72, 73]]

len(numbers_2d),len(numbers_2d[0])

(3, 4)

In [89]:
i = 10

In [84]:
for idx, row in enumerate(numbers_2d) :
    print(idx,row)

0 [90, 90, 92, 93]
1 [85, 86, 82, 83]
2 [70, 71, 72, 73]

In [97]:
for i, row in enumerate(numbers_2d) :
    for j, value in enumerate(row) : 
        print("{}행{}열:{}".format(i, j,value) ,end='\t')
    print() #()안에 end='\n'생략이 기본적으로 되어있어서 1줄이 끝나면 밑으로 내려라 실행

0행0열:90	0행1열:90	0행2열:92	0행3열:93
1행0열:85	1행1열:86	1행2열:82	1행3열:83
2행0열:70	2행1열:71	2행2열:72	2행3열:73

In [114]:
# 90 91 92 93
# 80 81 82 83
# 70 71 72 73 이 나와야함

for value in numbers_2d :     
    for item in row :
        print(item, end='\t')
    print()

70	71	72	73
70	71	72	73
70	71	72	73

In [112]:
for row in numbers_2d:
    print(row)

[90, 90, 92, 93]
[85, 86, 82, 83]
[70, 71, 72, 73]

## 1.2 기본 정보 조회

In [121]:
numbers = [1,12,3,5,4] #정렬되지않는 값
numbers_2d = [[100, 0],
              [9, 100],
              [50,54]]

In [122]:
# 요소의 수 (아이템 수/데이터 수)
print(len(numbers),len(numbers_2d))

5 3

In [123]:
# 최소값, 최대값
min(numbers), max(numbers)

(1, 12)

In [127]:
# 2차원 list의 min() : 첫번째 요소(0번 인덱스)가 가장 작은 것
#             max() : 0번째 인덱스 요소가 가장 큰 것
min(numbers_2d),max(numbers_2d)

([9, 100], [100, 0])

In [128]:
# 문자 list의 경우 ascii 코드값으로 min(),max() 적용

fruits = ['mango', 'apple', 'orange','APPLE']
min(fruits), max(fruits)

('APPLE', 'orange')

In [134]:
numbers = [1, 12, 3, 5, 4]
#정렬(오름차순, 내림차순) *문자도 정렬 가능
print('오른차순 :', sorted(numbers)) #sorted안에 나열가능한 데이터만 가능 
print('내림차순 :', sorted(numbers,reverse=True))
print('sorted함수 사용시 리스트 내용이 바뀌지 않음 :', numbers)
print('합 :', sum(numbers))

오른차순 : [1, 3, 4, 5, 12]
내림차순 : [12, 5, 4, 3, 1]
sorted함수 사용시 리스트 내용이 바뀌지 않음 : [1, 12, 3, 5, 4]
합 : 25

## 1.3 요소 추가
```
+ : 두 리스트 연결해서 추가
* : 리스트를 곱한 수만큼 반복
append() : 맨 뒤에 요소 추가
extend() : 맨 뒤에 리스트를 요소별로 추가
insert(idx, 값) : idx번째 인덱스 위치에 추가(기존 데이터는 shift)
    지정된 위치에 추가
```

In [136]:
numbers = [1, 2, 3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [164]:
#추가 
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [165]:
numbers.append([5, 6, 7]) #list 그대로 들어감. 맨뒤에 하나의 요소로 추가됨
print(numbers)

[1, 2, 3, 4, [5, 6, 7]]

In [166]:
num = [1, 2, 3] #list(단일 요소)가 아닌 요소별로 각각 추가
num.extend([4,5,6,7])
print(num)

[1, 2, 3, 4, 5, 6, 7]

In [167]:
num.insert(2,'X')
print(num)

[1, 2, 'X', 3, 4, 5, 6, 7]

## 1.4 인덱싱과 요소 갯수
- 변수[index] : 인덱스를 이용한 접근 (몇번째에 무슨데이터가 있는지 찾는것) **체크 필요**
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환 (무슨데이터가 몇번째에 있는지 찾는것?)
                     찾을데이터가 없는 경우 오류 발생
- count(찾을데이터) : 리스트에서 찾을데이터의 갯수 반환

In [174]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.count(2), numbers.count(-2)

(2, 0)

In [178]:
numbers.index(2) #0번째 index부터 2가 처음 나오는 index를 반환

1

In [179]:
numbers.index(2, 2) #2번째 index가 처음 나오는 index를 반환

5

In [188]:
if numbers.count(9) :
    numbers.index(9)
else:
    print('9가 없음')

9가 없음

In [191]:
if 9 in numbers:
    print(numbers.index(9))
else:
    print('9가 없음')

9가 없음

In [192]:
9 in numbers #numbers 리스트에 9가 존재하는지 여부 파악 
#index 함수는 in과 대부분 함께 쓴다. 왜? 오류가 나는걸 잡아주기 때문에

False

In [194]:
#함수 만들기 :def
def safe_index(lst, data) : #lst안에 data가 있는지 여부
    if data in lst :
        return lst.index(data)
    else: 
        return -1

In [195]:
safe_index(numbers,9)

-1

## 1.5 원하는 요소 추출

1. 리스트 슬라이싱 : 리스트에서 원하는 index의 데이터를 추출 (인덱스의 범위를 벗어나도 에러 안 남)
       -  [from:stop:step] from부터 stop앞까지 step씩 증가하는 index의 값을 추출
       -  from 생략시 처음부터, stop 생략시 끝까지. step 생략시 1칸씩. 모두 생략 가능
       -  음수 인덱스 가능
2. <font color="red">**리스트 컴프리헨션**</font> : 리스트에서 원하는 데이터를 추출
        *컴프리헨션을 못하면 if문법이 많아짐

In [216]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
#짝수번째 인덱스 값 출력
print(numbers[::2])
#꺼꾸로 출력
print(numbers[::-1])

[1, 5, 10, 13]
[20, 13, 12, 10, 9, 5, 3, 1]

In [218]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
#리스트에서 모든 데이터를 변수에 담아 출력하시오.
#비추
result = []
for data in numbers:
    result.append(data)
print(result)

[1, 3, 5, 9, 10, 12, 13, 20]

In [225]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
#짝수만 뽑아내라
#비추 

#**선생님 자료 확인**
result= []
for data in numbers:
    if not data%2:   #{}%2의 값이 0일 때 
        result.append(data)
print(result)

[10, 12, 20]

In [223]:
# numbers의 모든 데이터를 리스트 컴프리헨션으로 추출
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 20]

In [226]:
# numbers의 짝수 데이터를 리스트컴프리헨션으로 추출
[data for data in numbers if data%2==0]

[10, 12, 20]

In [251]:
# ex1. 리스트에서 10 이상만 추출
numbers = [1, 3, 5, 9, 10, 12, 13, 20]

[data for data in numbers if data>=10]

[10, 12, 13, 20]

In [254]:
# ex2. fruists에서 5글자가 넘는 과일만 추출
fruits = ['orange','apple','mango','kiwi']

[data for data in fruits if len(data)>5]
[data for data in fruits if len(data)>5]

['orange']

In [256]:
#★다시 해보기 문제!!!
# ex3. 3이상의 요소들의 제곱을 추출
L = [1, 2, 3, 4, 5]

[data**2 for data in L if data >=3]

    
#**2

[9, 16, 25]

In [265]:
# 퀴즈 망고를 찾아라
fruits = ['orange','apple','mango','kiwi']


fruits.index("mango")

2

In [264]:
print(fruits[2])

mango

In [266]:
#퀴즈  순서를 바꿔서 키위,망고,오렌지,사과 나타내기 

fruits = ['orange','apple','mango','kiwi']

## 1.6 요소 수정하기

In [300]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
#index를 이용해서 요소 수정 
numbers[2]=222 
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [303]:
# 슬라이싱을 이용해서 요소 수정
# 부분 리스트를 잘라서 가져오면 변환되는 갯수 상관없이 설정 가능(**step이 미포함인 경우**)
# 오른쪽 값이 많거나 적어도 상관없음. 그 자리 그대로 변경하는것이라서
numbers[1:4] = ['o0o']
numbers

[0, 'o0o', 6, 7, 8, 9]

In [308]:
# 슬라이싱을 이용해서 요소 수정 (**step 부분 포함인 경우**) ※ 요소 갯수가 맞아야 함
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2] = ['a','b','c','d','e']
numbers

['a', 1, 'b', 3, 'c', 5, 'd', 7, 'e', 9]

##  1.7 요소 삭제하기
- pop() : 가장 마지막 인덱스 요소가 반환되고 삭제
- pop(idx) : idx번째 요소가 반환되고 삭제 (뒤에 숫자들은 앞으로 밀려짐) 
- remove(지울data) : 리스트안의 data 삭제 
- del 변수[idx] : idx번째 요소가 삭제

In [332]:
numbers = [1, 2, 3, 4, 5]
delete_data = numbers.pop()
print(numbers)
print("삭제된 데이터:{}, 리스트:{}".format(delete_data, numbers))

delete_data2 = numbers.pop(0)
print("삭제된 데이터:{}, 리스트:{}".format(delete_data2, numbers))

del numbers[2]
print('numbers:',numbers)

[1, 2, 3, 4]
삭제된 데이터:5, 리스트:[1, 2, 3, 4]
삭제된 데이터:1, 리스트:[2, 3, 4]
numbers: [2, 3]

In [337]:
#remove는 반환값이 없고, 해당 데이터만 삭제. 해당 데이터가 없으면 오류 
numbers = [1, 2, 3, 4, 5]
del_num = numbers.remove(3)
print(del_num)
print(numbers)

None
[1, 2, 4, 5]

In [338]:
 numbers.remove(9)

ValueError: list.remove(x): x not in list

In [339]:
if 9 in numbers:     # remove를 사용했을 때 없는 값을 입력하면 오류 남 필히 in과 함께 사용필요 
    numbers.remove(9)
    
else:
    print('해당 데이터가 없습니다.')

해당 데이터가 없습니다.

In [340]:
def save_remove(lst,remove_data):
    if remove_data in lst:
        lst.remove(remove_data)
        print(remove_data, '삭제 완료')
    else:
        print(f'{remove_data}는 없는 아이템입니다.')

In [345]:
save_remove(numbers, 9)
save_remove(numbers,5)
save_remove(numbers, 9)
save_remove(numbers,5)

9는 없는 아이템입니다.
5는 없는 아이템입니다.
9는 없는 아이템입니다.
5는 없는 아이템입니다.

In [346]:
numbers

[1, 2, 4]

## 1.8 정렬하기

In [25]:
numbers = [1,9,7,8,5,0,2]
print('numbers는 변경하지 않고 정렬 :', sorted(numbers))
print('numbers 내림차순으로 정렬 :', sorted(numbers, reverse=True)) #True 내림차순
print('numbers :', numbers)

numbers는 변경하지 않고 정렬 : [0, 1, 2, 5, 7, 8, 9]
numbers 내림차순으로 정렬 : [9, 8, 7, 5, 2, 1, 0]
numbers : [1, 9, 7, 8, 5, 0, 2]

In [8]:
print(numbers.sort()) #numbers : 자체가 정렬한 결과로 바뀜(기본정렬:오름차순)
print(numbers)

None
[0, 1, 2, 5, 7, 8, 9]

In [20]:
numbers.reverse() #number 자체가 역순으로 변경 
numbers

[9, 8, 7, 5, 2, 1, 0]

In [28]:
lst = [2,5,9]
#lst.reverse()
lst = lst[::-1]
lst

[9, 5, 2]

## 1.9 복제하기

In [40]:
#스칼라 데이터의 복제
i = 10     #원본
copy_i = 10 #복제본
print(f"원본={i}, 복사본={copy_i} / 원본주소={id(i)}, 복사본주소={id(copy_i)}")
copy_i = i #복제본
print(f"원본={i}, 복사본={copy_i} / 원본주소={id(i)}, 복사본주소={id(copy_i)}")
copy_i = 99
print(f"원본={i}, 복사본={copy_i} / 원본주소={id(i)}, 복사본주소={id(copy_i)}")

#copy_i = i = 10으로 하나의 원본주소로 같은곳을 가리키고 있어서 원본 주소는 동일함.
#copy_i = 99 는 10의 원본주소에서 99의 주소로 변경되어서 복사본주소를 다른곳으로 지정함.

원본=10, 복사본=10 / 원본주소=1604028793360, 복사본주소=1604028793360
원본=10, 복사본=10 / 원본주소=1604028793360, 복사본주소=1604028793360
원본=10, 복사본=99 / 원본주소=1604028793360, 복사본주소=1604028796208

In [39]:
a = 9
print(a, id(a))

a= 8
print(a, id(a))

9 1604028793328
8 1604028793296

In [43]:
#리스트(배열, 데이터프레임, 딕셔너리), 의 복제   
#※이렇게 복제하면 안됨. 원본도 없어짐..!!!

numbers = [5, 6, 1]      #원본
new_numbers = numbers    #복제본
new_numbers[0] = 9
print('원본 :', numbers)
print('복제본 :',new_numbers)

#원본, 복제본 값이 동일해짐으로 이런식으로 사용하지 말아야 함.

원본 : [9, 6, 1]
복제본 : [9, 6, 1]

In [ ]:
# 데이터를 받으면 패턴을 파악..결측지 ->

In [44]:
# 복사에는 얕은 복사(할당) / 깊은 복사(복제) 2종류가 있다.
# 아래는 얕은 복사 
# 할당을 하면 복제가 안 됨..왜?
numbers = [5, 8 ,1]        #원본
new_numbers = numbers      #얕은 복사 (numbers에 할당을 함.)
print(f"원본 = {numbers}, 복제본 = {new_numbers}")
print(f"원본주소 = {id(numbers)}, 복사본주소 = {id(new_numbers)}")

원본 = [5, 8, 1], 복제본 = [5, 8, 1]
원본주소 = 1604146804416, 복사본주소 = 1604146804416

### 이것도 이렇게 복사하면 안됨. 원본도 같이 바뀜!!!!
- #얕은 복사 말고 깊은 복사를 해야 함.
- #얕은 복사(원본까지 변경되는 것)

new_numbers[0] = -99 \
new_numbers.sort() \
print("<복제본만 지지고 볶고>") \ 
print(f"원본 = {numbers}, 복제본 = {new_numbers}") \
print(f"원본주소 = {id(numbers)}, 복사본주소 = {id(new_numbers)}")

In [60]:
#깊은 복사 

numbers = [5, 8 ,1]        #원본
new_numbers = numbers.copy()      #깊은 복사 (복제)   *copy(numbers)가 아니라 numbers.copy가 되는 이유?
print(f"원본 = {numbers}, 복제본 = {new_numbers}")
print(f"원본주소 = {id(numbers)}, 복사본주소 = {id(new_numbers)}")
new_numbers[0] = -99
new_numbers.sort()
new_numbers.remove(-99) #-99를 없앰
new_numbers.pop()   #맨뒤에만 없앰
print("<****복제본만 지지고 볶고****>")
print(f"원본 = {numbers}, 복제본 = {new_numbers}")
print(f"원본주소 = {id(numbers)}, 복사본주소 = {id(new_numbers)}")

원본 = [5, 8, 1], 복제본 = [5, 8, 1]
원본주소 = 1604145119424, 복사본주소 = 1604147127296
<****복제본만 지지고 볶고****>
원본 = [5, 8, 1], 복제본 = [1]
원본주소 = 1604145119424, 복사본주소 = 1604147127296

In [62]:
numbers.clear() #리스트의 요소를 모두 삭제 *빈 리스트로 추출 [5, 8, 1]의 모든 내용 삭제됨
numbers

[]

# 2절.튜플

- 리스트와 유사하지만, 읽기전용. 수정이 필요없는 데이터에서 사용 
- *uppend,pop,remove 등 다 안됨.슬라이싱, 인덱스 가능
- 수정이 불가하므로, 튜플에 데이터 수정, 추가, 삭제 불가 (따라서 튜플에 제공되는 함수도 많지 않음)
- 리스트는 대괄표[] 사용, 튜플은 소괄호()나 tuple()이용해서 생성
- 리스트 자리에는 튜플이 와도 상관이 없다.

In [65]:
#city = ('서울','부산','인천','목포')
# 파이썬은 여러개의 값이 전달될 때, 튜플 타입으로 전달
city = '서울','부산','인천', '목포' 
print(type(city))  #type이 왜 tuple? str 
print(city)

<class 'tuple'>
('서울', '부산', '인천', '목포')

In [73]:
city = ['서울','부산','인천', '목포']
'='.join(city)  #문자에 쓸 수 있는 함수

'서울=부산=인천=목포'

In [83]:
l = ['서울',3] #요소가 두개 있는 리스트[]
print(type(l),l)

<class 'list'> ['서울', 3]

In [84]:
t = ('서울',3) #요소가 두개 있는 튜플
print(type(t),t)

<class 'tuple'> ('서울', 3)

In [85]:
l = ['서울'] #요소가 하나인 리스트[]
print(type(l),l)

<class 'list'> ['서울']

In [86]:
t = ('서울') #요소가 하나 있는 튜플이 아님 / 1개이면 ()가 사라져서 str로 표현이 됨.
print(type(t),t)

<class 'str'> 서울

In [88]:
t = ('서울', ) #요소가 하나 있는 튜플  / ,컴마를 작성하면 튜플로 표현이 됨.
print(type(t),t)

<class 'tuple'> ('서울',)

In [97]:
numbers = (1,2,3) 

#수정하기 위한 함수는 제공되지 않음.
#numbers.remove(3)
#numbers.append(4)
#numbers.pop()
#numbers.sort() *sort는 numbers를 바꾸는 거라 실행이 안 됨. 
#못 쓰는 함수들은 tab키를 눌러도 실행이 안 됨. 

min(numbers), max(numbers),sum(numbers), sorted(numbers), sorted(numbers, reverse=True)
#sorted는 numbers가 바뀌는게 아니라 순서가 변경되는거라 출력이 됨. sort는 안 됨.
#결과 값이 튜플로 된 이유는 min, max, sum, sorted 여러개가 ,컴마로 되어있어서 ()가 쳐짐.

(1, 3, 6, [1, 2, 3], [3, 2, 1])

In [101]:
numbers = (0, 1, 2, (1, 2), 0, 1, 2)
numbers.count(2), numbers.count(9)   
#2를 찾으면 2개가 발견되어 2로 나타나고 9는 없는 숫자라서 0으로 표현이 됨.

(2, 0)

In [105]:
if 9 in numbers:
    numbers.index(9)
else :
    print('9가 없음')

9가 없음

In [2]:
def safe_index(lst, item) :
    """
    list안에 item 요소가 있으면 
    item 요소의 index를 반환,
    없으면 -1을 반환 
    lst : 나열가능한 데이터
    item : 찾을 데이터 
    """
    if item in lst:        #in연산자 list 가 item에 포함하고 있다면 
        return lst.index(item) 
    else:                   #포함하지 않는다면 -1
        return -1

# 위의 4줄을 1줄로 바꾼다면 이렇게 쓸 수 있음
    #return lst.index(item) if item in lst else -1

In [4]:
from safe import safe_index #safe = 파일명? 
numbers = (0, 1, 2, (1, 2), 0, 1, 2)
safe_index(numbers, 9) , safe_index(numbers, 2)

(-1, 2)

In [5]:
numbers * 3

(0, 1, 2, (1, 2), 0, 1, 2, 0, 1, 2, (1, 2), 0, 1, 2, 0, 1, 2, (1, 2), 0, 1, 2)

In [12]:
# ex. 짝수 요소들을 추출하여 제곱한 데이터를 출력
numbers = (1, 2, 3 ,4 ,5 ,6)
[num for num in numbers]  #리스트 컴프리에이션 

[data for data in numbers if data%2==0] 
#데이터를 출력 for numbers에서 if data 값이 2로 나눴을때 0인 숫자만

[2, 4, 6]

In [14]:
tuple([data for data in numbers if data%2==0])
#튜플로 만들었을 때 / 대괄호[]에서 소괄호()로 변경됨

(2, 4, 6)

In [13]:
[data**2 for data in numbers if data%2==0]
#제곱연사자로 출력 for numbers에서 if data 값이 2로 나눴을때 0인 숫자만

[4, 16, 36]

# 3절. 딕셔너리
- index로 가져올 수 없음 key를 만들어서 사용해야 함.
- key : 특정 값을 가져올 수 있는 도구 (리스트랑 튜플은 index로 하는것)
- 중괄호{}를 이용해서, 키(key)-값(value) 쌍으로 구성된 자료구성
- 키는 중복불가(유일한 값). 키에 list[]는 사용불가. 튜플()만 사용 가능
- 값은 중복가능.
- index를 이용한 참조 지원 안 함.
- key : value(data)
- 슬라이싱이 안 됨. 
- 순서가 없음. index처럼 첫번째 인덱스, 두번째 인덱스 이런식이 아님
- 자연어 처리할 때 자주 사용 됨.

In [17]:
dic = {'name':'홍길동', 1:22, (1,2):[1,2]} #홍길도,22,[1,2]만 데이터임 (:뒤에 있는것)
print(type(dic))
print(dic)
print('데이터 갯수 :', len(dic))

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}
데이터 갯수 : 3

In [18]:
#짝수번째 00가져와 이런것이 안 됨.
my_favorite = {'fruit':'apple','number':12, 'sport':'golf'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'golf'}

In [24]:
print(my_favorite['fruit'])

apple

In [25]:
print(my_favorite.get('fruit')) # 이런 양식을 더 많이 씀
# ★오류

apple

In [29]:
print(my_favorite['people']) #없는 키값을 인덱스 방식으로 참조시 에러

KeyError: 'people'

In [30]:
print(my_favorite.get('people')) #없는 키값은 get함수로 참조하면 none으로 출력 (에러 없음)

None

In [32]:
print(my_favorite.get('people','-')) #없는 키를 get함수로 참조하면 두번째 값'-'으로 출력

-

In [37]:
#딕셔너리 데이터 수정하기 (변수의 값 수정) / 추가,삭제 
#※키와 값이 쌍으로 수정
#불러올때는 (), 수정할때는 []
my_favorite = {'fruit':'apple','number':12, 'sport':'golf'}
my_favorite['fruit'] = 'mango'
print('fruit의 apple을 mango로 수정 후 :', my_favorite)

fruit의 apple을 mango로 수정 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf'}

In [38]:
#딕셔너리 데이터 추가하는 방법 
my_favorite['people'] = '홍길동'
print('people 데이터 추가된 후 :',my_favorite)

people 데이터 추가된 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf', 'people': '홍길동'}

In [45]:
#딕셔너리 데이터 한개 제거하기 (2가지 방법이 있음)
my_favorite = {'fruit':'apple','number':12, 'sport':'golf'}
del my_favorite['fruit'] #my_favorite안에 fruit키와 mango값을 삭제
print('fruit 제거 후 :',my_favorite)
remove_data = my_favorite.pop('number') #number키의 값을 반환하고 제거'
print('remove_data :', remove_data)
print('jumber 제거 후 딕셔너리 :', my_favorite)

fruit 제거 후 : {'number': 12, 'sport': 'golf'}
remove_data : 12
jumber 제거 후 딕셔너리 : {'sport': 'golf'}

In [ ]:
#enumerate 리스트나 퓨플은 순서가 있어서

In [46]:
# for문을 이용한 튜플(리스트) 출력
my_tup = ('홍길동', 30, '010-9999-8888')

In [53]:
for data in my_tup:
    print(data, end='\t')
    
print()
for idx in range(len(my_tup)):
    print(f'{idx}번째 {my_tup[idx]}', end='\t')
    
print()
for idx, value in enumerate(my_tup):
    print(f'{idx}번째 {value}', end='\t')

홍길동	30	010-9999-8888
0번째 홍길동	1번째 30	2번째 010-9999-8888
0번째 홍길동	1번째 30	2번째 010-9999-8888

In [54]:
my_dic = {'name':'홍길동','age':30,'tel':'010-9999-8888'}
#이름은 홍길동, 나이는 30, 전화번호는 010-9999-8888로 저장하고 싶은 경우 위의 양식으로 해야한다.

In [55]:
# 엄청 비추 
for data in my_dic:
    print(data, end='\t')

name	age	tel

In [58]:
# 데이터만 출력 . 엄청비추 
for data in my_dic:
    print(my_dic[data], end='\t')

홍길동	30	010-9999-8888

In [61]:
#데이터만 추출 
#*values():키값을 빼고 value의 데이터만 가져옴  items():모든 값 다 가져옴  keys():키값만 가져옴
for data in my_dic.values(): 
    print(data, end='\t')

홍길동	30	010-9999-8888

In [64]:
for data in my_dic.keys(): #키만 추출 
    print(data, end='\t')

name	age	tel

In [66]:
for data in my_dic.items(): #키와 값 쌍을 모두 추출 
    print(data, end='\t')

('name', '홍길동')	('age', 30)	('tel', '010-9999-8888')

In [67]:
for key, value in my_dic.items():
    print(f'{key}:{value}', end='\t')

name:홍길동	age:30	tel:010-9999-8888

In [116]:
list(enumerate (my_dic.items())) #순서가 없는 딕셔너리를 순서있게 인위적인 순서를 만드는 법

[(0, ('name', '홍길동')), (1, ('age', 30)), (2, ('tel', '010-9999-8888'))]

In [124]:
for idx,(key,value) in enumerate(my_dic.items()): 
    print("{}.{:4} : {}".format(idx+1,key,value))

1.name : 홍길동
2.age  : 30
3.tel  : 010-9999-8888

In [126]:
"홍길동" in my_dic    #my_dic  #in뒤에는 나열가능한 데이터, in앞에는 찾는 값(key) .
#key에는 홍길동이 없고 values에 있음.

False

In [127]:
'홍길동' in my_dic.values() #in 뒤에 values를 붙여서 값찾기

True

In [128]:
#얕은 복사 (***비상 큰일임!)
my_favorite = {'fruit':'apple', 'number':12}    #원본
new_favorite = my_favorite #복사본(얕은 복사)
new_favorite['peopel'] = '홍길동'
print(my_favorite)
print(new_favorite)

{'fruit': 'apple', 'number': 12, 'peopel': '홍길동'}
{'fruit': 'apple', 'number': 12, 'peopel': '홍길동'}

In [129]:
my_favorite = {'fruit':'apple', 'number':12}    #원본
new_favorite = my_favorite.copy() #복제본(깊은 복사)
new_favorite['peopel'] = '홍길동'
print(my_favorite)
print(new_favorite)

{'fruit': 'apple', 'number': 12}
{'fruit': 'apple', 'number': 12, 'peopel': '홍길동'}

# 4절. 셋 만들기
- 중복을 허용하지 않는 집합 (순서가 없음 == 인덱스가 없음)
- 중괄호({})나 set()함수를 이용해서 셋 생성
- 추가 : add(), update()
- 집합연산자 : 합집합(&),교집합(|),여집합(-)
- 삭제 : remove() / pop()이 안됨 .  순서가 없어서

*순서가 있고 수정할 수 있는건 - 리스트
*순서가 있고 수정할 수 없는건 - 튜플
*순서도 업고 수정도 없는 - 딕셔너리

In [137]:
fruits = {'banana', 'orange', 'banana', 'apple','banana'}
fruits

{'apple', 'banana', 'orange'}

In [138]:
s1 = set([1, 20, 1, 21, 1, 22])
s1

{1, 20, 21, 22}

In [139]:
#set함수에 딕셔너리를 적용하면 key값만 추출 , valuse(data)는 날아감
my_favorite = {'fruit':'apple', 'number':12} 
set(my_favorite)

{'fruit', 'number'}

## 데이터 추가하기
- add() : 기본 자료형, 튜플데이터를 하나의 요소로 추가할 경우.
- update() : 리스트, 튜플, 딕셔너리, 셋 요소 하나하나씩 추가할 경우. dict 사용시 key만 추가

In [144]:
s2 = {1, 1, 2, 3}
s2.add(4)
s2.update([5, 6, 7])
s2

{1, 2, 3, 4, 5, 6, 7}

In [157]:
#논리값 False는 False, 0으로 인식
#논리값 True는 True, 1로 인식
#같은 데이터로 인식함.

s = {1, 2, 3}
s.add(False)
s.add(True) #true를 숫자로 바꾸면 1이라서 안 들어감....
s.add(0) #0=false이므로 0이 안 들어감..
s

{False, 1, 2, 3}

In [158]:
s.remove(True)
s

{False, 2, 3}

## 연산:&(교집합),|(합집합) -(여집합)

&,| : 집합연산자,논리연산자,비트연산자

In [162]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
print('s1 | s2 =', s1|s2)
print('s1 & s2 =', s1&s2)
print('s1 - s2 =', s1-s2)

s1 | s2 = {1, 2, 3, 4, 5, 6, 7}
s1 & s2 = {3, 4, 5}
s1 - s2 = {1, 2}

# 5절. enumerate
- 반복자 또는 순서 객체로 반복문을 처리할 때 사용 함수
- 리스트, 튜플, 셋, 딕셔너리를 for문에 사용시

In [164]:
#{}셋을 써서 순서 지정못함요
names = {'길자', '길동', '길순', '영자', '영자'}
for name in names:
    print(name, end='\t')

길자	영자	길순	길동

In [165]:
for no,name in enumerate(names):
    print(f'{no}.{name}')

0.길자
1.영자
2.길순
3.길동

In [171]:
names = ['순자','길동','길자']
for name in names:
    print(name)

순자
길동
길자

In [184]:
names = ['순자','길동','길자']
tels = ['010-9999-9999','010-8888-8888','010-7777-7777']
adds =['서울','인천','판교']

#0번째 이름은 0번째tel,0번째 전화번호 
# 순자 : 010-9999-9999 서울
# 길동 : 010-8888-8888 인천
# 길자 : 010-7777-7777 판교 

for idx in range(len(names)): #idx가 0부터 range까지
    print('{}.{}의 연락처는 {}이며 사는 지역은 {}입니다.'.format(idx+1,
                                                           names[idx],
                                                           tels[idx],
                                                           adds[idx]))

1.순자의 연락처는 010-9999-9999이며 사는 지역은 서울입니다.
2.길동의 연락처는 010-8888-8888이며 사는 지역은 인천입니다.
3.길자의 연락처는 010-7777-7777이며 사는 지역은 판교입니다.

In [186]:
for name, tel, add in zip(names, tels, adds):
    print(f'{name}: {tel} - {add}')
    
#인덱스를 만들 수는 없음 . 인덱스를 만들려면... 다른걸 활용(enumerate)사용

순자: 010-9999-9999 - 서울
길동: 010-8888-8888 - 인천
길자: 010-7777-7777 - 판교

In [197]:
list(enumerate(zip(names, tels, adds)))

[(0, ('순자', '010-9999-9999', '서울')),
 (1, ('길동', '010-8888-8888', '인천')),
 (2, ('길자', '010-7777-7777', '판교'))]

In [207]:
for idx, (name, tel, add) in enumerate(zip(name, tels, adds)) :
    print('{}.{} : {}-{}'.format(idx+1,
                                name,
                                tel,
                                add))

1.길 : 010-9999-9999-서울

In [212]:
for idx, (name, tel, add) in enumerate(zip(name, tels, adds)) :
    print('{}.{} : {}-{}'.format(idx+1,
                                name,
                                tel,
                                add))

1.길 : 010-9999-9999-서울

In [185]:
#zip
list(zip(names, tels, adds)) #담겨있는 데이터수가 똑같은것만 나타남

[('순자', '010-9999-9999', '서울'),
 ('길동', '010-8888-8888', '인천'),
 ('길자', '010-7777-7777', '판교')]

# 6절. 연습문제

변수가 담을 수 있는 기본 자료형들
```
![자료형들](https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg)
```

<img src="https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg"
     width='400'
     style='float:left' >

In [176]:
'''
Q.다음 리스트가 주어졌을 경우 요구대로 코드를 작성하시오.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1.숫자 100을 맨 뒤에 추가하세요.
'''
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers.append(100)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [193]:
'''
Q.다음 리스트가 주어졌을 경우 요구대로 코드를 작성하시오.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2.다음 리스트를 numbers 리스트 맨뒤에 추가하세요.
data = [200, 300, 400, 500]

append() : 맨 뒤에 요소 추가
extend() : 맨 뒤에 리스트를 요소별로 추가
insert(idx, 값) : idx번째 인덱스 위치에 추가(기존 데이터는 shift)
'''

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
data = [200, 300, 400, 500]

numbers.append(data)
print(numbers)

numbers.extend(data)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [200, 300, 400, 500]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [200, 300, 400, 500], 200, 300, 400, 500]

In [195]:
'''
Q.다음 리스트가 주어졌을 경우 요구대로 코드를 작성하시오.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
3. 처음 다섯 숫자만 출력하세요.

'''
print(numbers[0:5])

[1, 2, 3, 4, 5]

In [210]:
'''
Q.다음 리스트가 주어졌을 경우 요구대로 코드를 작성하시오.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
4. 리스트에서 짝수 번째 데이터만 출력하세요.

'''
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[::2])

[1, 3, 5, 7, 9]

In [297]:
'''
Q.다음 리스트가 주어졌을 경우 요구대로 코드를 작성하시오.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
5. 짝수번째 데이터를 모두 0으로 바꾸세요.

'''
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers[::2] = ['0','0','0','0','0']
print(numbers)

numbers[::2] = [0] * len(numbers[::2]) #numbers[::2]의 갯수를 확인하는 방법
print(numbers)

['0', 2, '0', 4, '0', 6, '0', 8, '0', 10]
[0, 2, 0, 4, 0, 6, 0, 8, 0, 10]

In [295]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[idx for idx in range(len(numbers))]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [296]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[numbers[idx] if idx%2!=0 else 0 for idx in range(len(numbers))]

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10]

In [214]:
'''
Q.다음 리스트가 주어졌을 경우 요구대로 코드를 작성하시오.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
6. 데이터를 역순으로 나열하세요.(내림차순 정렬이 아닙니다.)
'''
print(numbers[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 2번문제

In [237]:
'''
Q.다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요.
member_info = {"name" : "홍길동", "age" : 20, "address" : "서울시 마포구", "score": 90}
1. address값을 출력하세요.
'''

member_info = {"name" : "홍길동", "age" : 20, "address" : "서울시 마포구", "score": 90}
print(member_info.get("address"))

서울시 마포구

In [298]:
'''
Q.다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요.
member_info = {"name" : "홍길동", "age" : 20, "address" : "서울시 마포구", "score": 90}
2. score를 출력하고 member_info딕셔너리에서 삭제하세요.
'''
member_info = {"name" : "홍길동", "age" : 20, "address" : "서울시 마포구", "score": 90}
new_member_info = member_info.copy()
print('score의 값은? ',member_info.get("score"))
del member_info['score']
print('score를 제거하고 값은? ',member_info)

#한번에 하는 방법 
#print(member.pop(score))
#print(member)

score의 값은?  90
score를 제거하고 값은?  {'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}

NameError: name 'member' is not defined

In [257]:
'''
Q.다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요.
member_info = {"name" : "홍길동", "age" : 20, "address" : "서울시 마포구", "score": 90}
3. address를 "서울시 서대문구"로 변경하세요 
'''

member_info = {"name" : "홍길동", "age" : 20, "address" : "서울시 마포구", "score": 90}
member_info["address"] = '서울시 서대문구'
print("주소 변경된 딕셔너리 :",member_info)

주소 변경된 딕셔너리 : {'name': '홍길동', 'age': 20, 'address': '서울시 서대문구', 'score': 90}

In [6]:
'''
Q.다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요.
member_info = {"name" : "홍길동", "age" : 20, "address" : "서울시 마포구", "score": 90}
4. member_info 딕셔너리 데이터의 값을 리스트로 출력하세요.
'''
#member_info = {"name" : "홍길동", "age" : 20, "address" : "서울시 마포구", "score": 90}
member_info = {"name" : "홍길동", "age" : 20, "address" : "서울시 마포구", "score": 90}
list(member_info. values())

['홍길동', 20, '서울시 마포구', 90]

In [ ]:
'''
Q.다음 코드를 실행했을 때 출력되는 것은?
L1 =("orange","apple","banana","kiwi")
new_list = [i for i in L1 if len(1)>5]
print(new_list)
'''

#L1 =("orange","apple","banana","kiwi")
#new_list = [i for i in L1 if len(i)>5]
#print(new_list)

5자글자 이상인 6글자부터 나타날수 있어서  orange,banana 나타남

In [ ]:
'''
Q.다음 코드와 실행결과가 잘못 짝지어진 것은?
① print(list(range(10)))       [0,1,2,3,4,5,6,7,8,9]
② print(list(range(5,10)))     [5,6,7,8,9]
③ print(list(range(10,0,-1)))  [9,8,7,6,5,4,3,2,1,0]
④ print(list(range(10,20,2)))  [10,12,14,16,18]
'''

2번.. 5번째 인덱스는 4인데 5부터 시작한다..

In [ ]:
'''
Q.다음 구문에 의해 출력되는것은?
numbers_2d = [[1,2,3,4,5],[10,20,30,40],[1,3,5],[2,]]
len(numbers_2d[3])
'''
2개 (2, ) 이면 하나로 인식이 안 되니까.. 아닌가요?

In [270]:
'''
Q.다음 코드의 실행결과가 나올수 있는 빈칸에 들어갈 함수 이름은?
numbers = [1,2,3,4,5]
numbers.________(10,20,30,40,50)
numbers.
'''

numbers = [1,2,3,4,5]
numbers.extend([10,20,30,40,50])
print(numbers)

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]

In [ ]:
'''
Q.다음 구문을 실행할 때 결과는?
numbers = list(range(10))
numbers[::2]=0*len(numbers[::2])
print(numbers)

'''
numbers[::2]= 짝수번째 호출 
0*len(numbers[::2]) = 0* 짝수 갯수
짝수번째를 = 0으로 짝수갯수만큼 바꾸자
0,1,0,3,0,5,0,7,0,9

In [273]:
'''
Q.다음 구문을 실행할 때 결과는?
'''
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[::2] = numbers[5:]
print(numbers)
numbers[::2] = 0,2,4,6,8 이고 (짝수번째)
numbers[5:] = 5,6,7,8,9 인데 
짝수번째 인덱스를 numbers[5:]로 바꾸라는 말.
최종적으로 5,1,6,3,7,5,8,7,9,9

[5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

In [280]:
'''
Q.다음 데이터에서 10을 출력할 수 없는 구문은?
'''

my_dic = {"a":10,"b":20,"c":30}
my_dic[0] #인덱스로 접근이 불가하다

KeyError: 0

In [ ]:
'''
Q.다음 프로그램의 결과를 출력하시오
'''

fruits = ['apple','banana','orange']
x,y,z = fruits
print(x) = apple
print(y) = banana
print(z) = orange

In [ ]:
'''
Q.다음 프로그램의 결과를 출력하시오
'''

fruits = ['apple','banana','orange']
print(len(fruits)) = 3  (3개의 데이터 갯수)

In [ ]:
'''
Q.파이썬에서 함수를 만들기 위해 선언하는 단어는?
'''

def

## 예전 연습문제

In [76]:
'''
연습문제 1.
이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
'''

name = '홍길동'
age = 30

print('{}님의 나이는 {}살입니다.'.format(name, age))

홍길동님의 나이는 30살입니다.

In [90]:
''' 
연습문제 2. 
두 정수를 입력받아 두 수의 덧셈 , 뺄셈 , 곱셈 , 나눗셈 , 몫 , 나머지를 출력하세요
'''

a = 20
b = 3

print('a+b의 값은 ? ', a+b)
print('a-b의 값은 ?', a-b)
print('a*b의 값은 ?', a*b)
print('a/b의 값은 ?', a/b)
print('a/b의 몫의 값은 ?', a//b)
print('a/b의 나머지 값은 ?',a%b)

a+b의 값은 ?  23
a-b의 값은 ? 17
a*b의 값은 ? 60
a/b의 값은 ? 6.666666666666667
a/b의 몫의 값은 ? 6
a/b의 나머지 값은 ? 2

In [97]:
'''
연습문제 3.
문자열의 분리하기와 합치기 기능을 이용하여 ‘ Hello World'가 
할당된 변수를 이용하여 ‘World Hello' 로 출력하세요
'''
temp = "Hello World"
result = temp.split()
print(result)
print(result[::-1])

['Hello', 'World']
['World', 'Hello']

In [114]:
'''
연습문제4.
x = ' abcdef ＇를 이용하여 bcdefa 로 출력하세요
'''
x = 'abcdef'
print(x[1:],x[0], sep='')

bcdefa

In [115]:
'''
연습문제5.
x = ' abcdef ＇를 이용하여 fedcba 로 출력하세요
'''
x = 'abcdef'

print(x[::-1])

fedcba

In [ ]:
'''
연습문제6.
오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요 . 
화씨 온도는 소수점이 있을 경우만 두번째 자리까지 출력되고 , 소수점이하 값이 없는 경우 
소수점을 출력하지 않도록 합니다 다음은 섭씨와 화씨의 변환 공식입니다 . 
C 는 섭씨 , F 는 화씨
C = (F32) / 1.8
F = (C1.8) + 32
'''