In [9]:
from IPython.display import display, HTML 
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
 """))

<span style="color: blue; font-size: 24px; font-weight: bold;">ch05.함수</span>
- 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것 : 함수
- 같은 이름의 함수를 매개변수를 달리해서 사용 : 오버로딩 (파이썬은 사용이 불가)
- 오버로딩(함수 이름이 같고, 매개변수의 타입이나 갯수로 다른 함수를 허용하는 것)불가
- def add(a, b):
    #print(1)
- def add(a):
    #print(2) 이렇게 쓰게되면 위에 함수는 사라지고 아래것만 남음
- 함수용 언어는 파이썬과 자바스크립트에서 사용
    
```
*변수명 사용하는 방식이랑 똑같음
*매개변수가 생략이 가능함.
*명령어에 return이 필수로 들어가는것이 아님 선택사항
def 함수명([매개변수1,매개변수2,매개변수n])
    명령어1
    명령어2
    명령어n
```
# 1절. 함수 정의 및 사용

## 1.1 함수 정의

In [ ]:
#오버로딩
def add(a, b):
    print(1)
def add(a):
    print(2) 위의 함수는 덮어져서 사라지고 아래것만 남음

In [11]:
#hello를 호출하면 hello를 5번 만들어주는 함수로 정의함
#함수 정의한다고 해서 결과값이 나타나진 않음.
#함수를 사용해야 실행이 됨.
def hello():
    for i in range(5):
        print('Hello')

In [13]:
#함수 사용 *앞에서 지정한 매개변수 숫자와 동일해야 함. 
hello()
hello(1)

Hello
Hello
Hello
Hello
Hello

TypeError: hello() takes 0 positional arguments but 1 was given

In [20]:
#함수 정의
def my_message(x, msg): #msg를 x번 출력하는 함수
    for i in range(x):
        print(msg)

In [21]:
#함수 사용
my_message()  #이렇게 하면 오류남  (x랑 msg가 오류)
#포지셔널 매개변수

TypeError: my_message() missing 2 required positional arguments: 'x' and 'msg'

In [22]:
#함수 사용
my_message(2, 'hello')  #이렇게 하면 오류남  (x랑 msg가 오류)
#포지셔널 매개변수

hello
hello

In [23]:
my_msg = my_message #변수에다가 함수를 넣는다? my_msg도 함수로 변환 / 함수를 변수처럼 쓸 수 있다
my_msg(2,'hello')

hello
hello

In [24]:
type(my_msg), type(my_message)

(function, function)

In [25]:
print('hello') #파이썬 내장함수 (impor 하지않아도 할 수 있는 함수 / 가져오지 않아도 쓸 수 있는 함수 )

hello

In [26]:
my_message(2,'Hello')

Hello
Hello

In [27]:
#my_message = 5

In [29]:
def my_message
#변수를 삭제해도 함수 사용불가(파이썬 내장함수가 아니라서)

SyntaxError: invalid syntax (3482650259.py, line 1)

In [30]:
my_message(2,'Hello')  #내장함수가 아니면 del을 해도 다 날아감(삭제됨)

In [11]:
#함수 정의 (함수를 만들뿐 실행되진 않음)
def my_hello():
    print('hello, python')
    print('hello, world')
def my_hello(cnt):
    for i in range(cnt):
        print('hello, python')
        print('hello, world') 
        print('fo ao ad nmd cndm')

In [12]:
#함수 호출 = 함수 사용
my_hello(2)

hello, python
hello, world
fo ao ad nmd cndm
hello, python
hello, world
fo ao ad nmd cndm

In [13]:
my_hello  #__main__?

In [21]:
if __name__=='__main__':
    my_hello(4)

hello, python
hello, world
fo ao ad nmd cndm
hello, python
hello, world
fo ao ad nmd cndm
hello, python
hello, world
fo ao ad nmd cndm
hello, python
hello, world
fo ao ad nmd cndm

In [22]:
import ch05

hello, python
hello, world
hello, python
hello, world

In [1]:
import ch05

ch05
hello, python
hello, world
hello, python
hello, world

In [2]:
import ch05 #ch05모듈을 load / 실행이 안됨

In [3]:
ch05.my_hello(2) #이렇게 해야 실행이 됨

hello, python
hello, world
hello, python
hello, world

In [4]:
from ch05 import my_hello #ch05모듈안의 my_hello load  #바로 실행할 수 있는 방법

In [5]:
my_hello(2)  #바로 실행하기

hello, python
hello, world
hello, python
hello, world

## 1.2 docstring
- 함수의 설명
- 함수 맨 첫라인에 독스트링을 쓸 수 있음 '," 둘중에 상관없음

In [6]:
def my_function():  #매개변수가 없더라도 괄호는 꼭 써야 함, 빈 괄호라도
    '''
    함수의 첫라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [7]:
my_function()

In [9]:
print(my_function.__doc__)  #해당 독스트링만 볼 수 있는 방식 .__doc__(doc 앞뒤로 언더바 2번씩)

    함수의 첫라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)

In [17]:
def fibonacci(n):
    a, b = 0, 1
    while a <n:   #a가 n보다 작으면 작업
        print(a, end=' ')
        a, b = b, a+b
    print()   #개행은 무조건 뒤에 붙여줌 
    #함수 영역에 있는것은 종료 뒤 a,b의 값은 사라짐 / 함수 안에 있는 변수는 삭제됨

In [19]:
fibonacci(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [20]:
if True:
    x = 10

In [21]:
x   #밖에서도 값이 살아 있음. 하지만 함수안에 있는것은 없어짐.

10

## 1.3 지역변수(local ver)와 전역변수(global var)

- <지역변수>
- 정의: 지역 변수는 특정 함수 안에서만 유효한 변수. 함수가 호출될 때 생성되고, 함수가 종료되면 사라짐
- 특징: 함수 내부에서 선언되며, 그 함수 외부에서는 접근할 수 없음

- <전역변수>
- 정의:전역 변수는 프로그램 전체에서 접근할 수 있는 변수. 즉, 함수 바깥에 선언된 변수.
- 특징: 함수 밖에서 선언되므로 프로그램 어디서든 접근하고 수정할 수 있음

- 변수의 우선순위는 로컬테이블>전역테이블>내장된 이름테이블

In [23]:
global_var = 100 #전역변수
def func1(): 
    print('함수 안 :',global_var) 
func1()
print("함수 밖 :",global_var)

#함수의 안밖 모두에서 사용 가능

함수 안 : 100
함수 밖 : 100

In [25]:
def func2():
    local_var = 200 #지역변수
    print('함수 안 :', local_var)
func2()
print('함수 밖 :', local_var)

함수 안 : 200

NameError: name 'local_var' is not defined

In [31]:
g_var = 100      #전역변수 , 변수를 선언하는것과 동일
def func3():
    g_var = 200    #지역변수 (변수선언,변수할당을 여기서 함..)
    print('함수 안(지역변수 g_var):', g_var) 
func3()
print('함수 안(전역변수 g_var):',g_var) #전역변수

함수 안(지역변수 g_var): 200
함수 안(전역변수 g_var): 100

In [36]:
#렉시컬 특성 
g_var = 100 #전역변수
def func4():
    print('함수 안(g_var):', g_var)
    g_var = 200  #함수 선언을 먼저 해석해서 100이 아닌 200으로 지역변수 설정
func4()  #g_var값이 없어서 오류가 남

UnboundLocalError: local variable 'g_var' referenced before assignment

In [43]:
# 렉시컬 특성

g_var = 100 #전역변수
def func4():
    global g_var #func4()함수내의 g_val는 전역변수를 쓰면 함수안에 지역변수가 전역변수가 된다는 정의 재정립
    print('함수 안(g_var):', g_var)
    g_var = 600  #지역 변수에서 전역변수로 변경
func4()
print('함수 밖(g_var) :', g_var)

함수 안(g_var): 100
함수 밖(g_var) : 600

## 1.4값에 의한 호출
- 함수의 매개변수(인수 또는 인자)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일 때

In [50]:
foo = 'a' #전역변수
id(foo)

1648850528048

In [52]:
def func1(f): #매개변수(f)는 지역변수
    print('Before :', f, 'id(f) :', id(f))
    f = f*3
    print('After :', f ,'id(f) :', id(f))
func1(foo)

Before : a id(f) : 1648850528048
After : aaa id(f) : 1648965949104

In [54]:
print(foo, 'id(foo) :', id(foo)) #주소가 아닌 값만 전달

a id(foo) : 1648850528048

## 1.5 참조에 의한 호출
- 함수의 매개변수(인수 또는 인자)로 전달되는 변수가 리스트, 튜플, 딕셔너리, 셋, 객체(넌파이,판다스 등)일 경우

In [47]:
L = [1, 2, 3, 4, 5]
id(L)

1648965982720

In [55]:
def func2(f): #매개변수(f)는 지역변수
    print('Before :' , f, 'id(f) :', id(f))
    #f = [2,2]   #이런것은 안 한다. 왜냐하면 앞에서 정의한 변수가 사라지기에.
    f.append(6)
    print('After :', f,'id(f) :', id(f))
func2(L)

Before : [1, 2, 3, 4, 5, 6] id(f) : 1648965982720
After : [1, 2, 3, 4, 5, 6, 6] id(f) : 1648965982720

In [56]:
print(L, 'L =', id(L))

[1, 2, 3, 4, 5, 6, 6] L = 1648965982720

### 스칼라 데이터(immutable 객체)와mutable 객체 차이 
<스칼라 데이터 타입 vs. 리스트>
- 스칼라 데이터 타입 (int, float, str 등)은 immutable이라 값을 복사한 뒤 함수로 전달되고, 그 값은 함수 안에서만 유효하고 원본 값에는 영향을 미치지 않아.
- 

- 리스트, 딕셔너리, 세트 같은 mutable 데이터 타입은 참조에 의한 호출처럼 동작해서, 함수 안에서 그 값을 변경하면 원본 값이 바뀌어.
-append,pop등을 사용

# 2절. 함수의 실행결과를 반환하는 return
- return뒤에 문법은 수행하지 않음.
-

In [68]:
def add(a):
    pass

In [69]:
add(10)   #실행하면 아무값도 안 들어옴.

In [70]:
print(add(10)) #return이 없는값은 아무것도 없는 none이 남음

None

In [72]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력
    ex) n=10이면 0 1 1 2 3 5 8 을 출력
    '''
    a, b = 0, 1
    while a <n:   #a가 n보다 작으면 작업
        print(a, end=' ')
        a, b = b, a+b
    print()   #개행은 무조건 뒤에 붙여줌 
    #함수 영역에 있는것은 종료 뒤 a,b의 값은 사라짐 / 함수 안에 있는 변수는 삭제됨

In [73]:
def fibonacci_return(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex) n=10이면 [0 1 1 2 3 5 8]을 return
    '''
    result = [] #리턴하는 변수가 있다면 젤 위에다 변수 작성
    a, b = 0, 1
    while a<n:
        result.append(a)
        a, b = b, a+b
    return result       #하나만 리턴할 수 있음

In [75]:
x = fibonacci_return(10)

In [77]:
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8]
<class 'list'>

## 여러개 값 return 
- 튜플로 패킹해서 전달하다.

In [82]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return'
    return b,a  #튜플로 저장

In [83]:
x, y = 5, 10
print(f'함수 실행 전 x={x}, y={y}')
x, y = swap(x, y)  #swep(x,y) = (10,5)로 바뀜 
print(f'함수 실행 후 x={x}, y={y}')

함수 실행 전 x=5, y=10
함수 실행 후 x=10, y=5

# ✨ 3절. 함수 매개변수 ✨
- <매개변수와 인수의 순서>
- 인수의 순서 : 순서인수, 튜플인수, 키워드 인수, 딕셔너리인수
* 순서인수 : 순서대로 저장

## 3.1  기본 값을 갖는 매개변수

In [94]:
def make_url(ip, port=80):   #80이 메인 사이트 , 80은 상수
    return "http://{}:{}".format(ip,port)

In [90]:
#디폴트값을 가지고 있는 매개변수와 없는걸 같이 쓸 때는 순서인수 > 기본값을 갖는 매개변수로 해야 됨. (ip, port=80 이렇게)
def make_url(port=80, ip):   #순서가 바뀌면? 실행이 안 됨..
    return "http://{}:{}".format(ip,port)

SyntaxError: non-default argument follows default argument (3497067061.py, line 1)

In [95]:
print(make_url('www.naver.com'))
print(make_url('localhost.co', 8090))  #내가 지정할 수도 있음
print(make_url(port=8090, ip='localhost')) #매개변수를 내가 지정한다면 순서는 의미없음.

http://www.naver.com:80
http://localhost.co:8090
http://localhost:8090

## 3.2 기본 변수를 갖는 매개변수
- 기본 변수가 스칼라 변수일때 <함수가 정의되는 시점의 값으로 이동>
- 기본 변수가 리스트나 셋이나, 딕셔너리 등의 객체일때 <호출하는 값으로 이동>

- 튜플일때는 변할 수 없어서 상관없음

In [1]:
i = 5
#기본값을 갖는 변수가 스칼라 변수일 때 : arg의 기본값은 함수가 정의되는 시점의 값.

def func2(arg=i):
    print('arg =', arg )

In [2]:
i = 50
func2()

arg = 5

In [1]:
list_ = []
#기본값을 갖는 변수가 객체(데이터구조:리스트 등)일 때 : ars의 기본값은 실행(호출)되는 시점의 값.
def func3(data, L=list_):
    'data를 L에 append(list 1개 증가)'
    L.append(data)
    return L

In [3]:
print(func3(10)) #list_가 수정이 됨. 빈리스트에서

[10]

In [5]:
print(func3(20))

[10, 20]

In [ ]:
def func4(data, L=None): #순서인수가 앞에
    if L==None:
        L = []
    L.append(data)
    return L
    #L.append(data) 2번째 매개변수가 none이라서 오류

In [ ]:
print(func4(10))
print(func4(10, list_))

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [ ]:
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않습니다.
def add(a, b):
    return a+b
def add(a, b, c):
    return a+b+c

In [13]:
#*args:매개변수들을 하나의 튜플변수 args로 전달받음
def add(*args):
    '전달받은 매개변수들의 합을 return'
    #print('args =',args)

    result_tot = 0 #누적변수
    for data in args:
        result_tot += data
    return result_tot
    
#add(1,2,3,4,5,6)

In [16]:
print(add(1))
print(add(1,2))
print(add(1,2,3,5,67,))

1
3
78

In [17]:
subject = ('python', 'oracle','DL', 'ML')
'/'.join(subject)

'python/oracle/DL/ML'

In [19]:
def concat(*subject, sep):  #* 매개변수 여러개를 받을 수 있다?
    return sep.join(subject)

In [20]:
concat('python', 'oracle','DL', 'ML','/')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [22]:
print('python', 'oracle','DL', 'ML','/')

python oracle DL ML /

In [23]:
#(비추)해결책1 : 매개변수 이름을 지정해서 호출
concat('python', 'oracle','DL', 'ML',sep='/')

'python/oracle/DL/ML'

In [49]:
#해결책2 :기본값을 갖는 키워드인수 사용 / 키워드인수가 없으면 안됨. / 키워드 인수가 뒤에 있어야 함. 
def concat (*subject, sep='~'):  #기본값을 가진 키워드앞에 
    return sep.join(subject)

In [28]:
print('python', 'oracle','DL', 'ML',sep='/') #

python oracle DL ML /

In [42]:
#해결책3 : sep을 순서인수로 앞에 선언. 
def concap(sep=' ~ ', *subject): #여기서 sep은 순서인수, 기본값을 가지게 하면 안됨....무의미해짐
    return sep.join(subject)

In [48]:
concap('/', 'python', 'oracle','DL', 'ML') #'/'첫번째 매개변수 생략이 안 됨.

'python/oracle/DL/ML'

## 3.4 딕셔너리 매개변수
- 여러개의 키워드인수를 딕셔너리 형태로 받아서 가변키워드 인수로 처리

In [53]:
def func5(kwargs):        #여기서 kwargs는 순서인수 
    print(kwargs)

In [57]:
func5(name='홍길동', age=30, addres='신림동', phone='010') #이렇게 하면 오류 발생

TypeError: func5() got an unexpected keyword argument 'name'

In [60]:
def func5(**kwargs):        #여기서 **kwargs 
    print(kwargs)
    print(type(kwargs))
    print('이름 :',kwargs.get('name', '대마왕'))
    print('나이 :',kwargs.get('age', '20'))
    print('주소 :',kwargs.get('addres', '봉천동'))
    print('전화 :',kwargs.get('phone', '02'))

In [64]:
func5(name='홍길동', age=30, addres='신림동', phone='010')

{'name': '홍길동', 'age': 30, 'addres': '신림동', 'phone': '010'}
<class 'dict'>
이름 : 홍길동
나이 : 30
주소 : 신림동
전화 : 010

## 3.5 함수정의시 매개변수 순서
- (순서) 순서인수>튜플매개변수(*별 1개 작성)>키워드매개변수(매개변수 이름 명시 필수)>딕셔너리매개변수(** 별2개 작성)
- 순서인수 : 변수 이름만 있는것 
- 튜플인수(매개변수) : ※ 순서인수랑 같이 있으면 순서인수가 앞으로 나와야 함.
- 키워드인수 : 
- 딕셔너리인수

In [66]:
def func6(a, b, *c, **d):
    print('순서인수 :', a)
    print('순서인수 :', b)
    print('튜플인수 :', c)
    print('딕셔너리 인수 :', d)

In [67]:
func6(10,20,1,2,3,4,5,6,7, name='홍길동', age=30, address='서울')

순서인수 : 10
순서인수 : 20
튜플인수 : (1, 2, 3, 4, 5, 6, 7)
딕셔너리 인수 : {'name': '홍길동', 'age': 30, 'address': '서울'}

In [68]:
def func7(a, b, *c, d='기본값', **e):
    print('순서인수 :', a)
    print('순서인수 :', b)
    print('튜플인수 :', c)
    print('키워드 인수(기본값을 갖는 인수, 호출시 매개변수 이름 방드시 명시) :', d)
    print('딕셔너리 인수 :', e)

In [72]:
func7(10,20,1,2,5,7,2,1, d='딴거', naem='홍길동', number='2', color='red') #d=이후 기본값으로 변경

순서인수 : 10
순서인수 : 20
튜플인수 : (1, 2, 5, 7, 2, 1)
키워드 인수(기본값을 갖는 인수, 호출시 매개변수 이름 방드시 명시) : 딴거
딕셔너리 인수 : {'naem': '홍길동', 'number': '2', 'color': 'red'}

In [73]:
func7(10,20,1,2,5,7,2,1,'딴거', naem='홍길동', number='2', color='red') 
#d=를 빼면 '딴거'가 튜플인수에 포함되고 d=에는 기본값이 나타남

순서인수 : 10
순서인수 : 20
튜플인수 : (1, 2, 5, 7, 2, 1, '딴거')
키워드 인수(기본값을 갖는 인수, 호출시 매개변수 이름 방드시 명시) : 기본값
딕셔너리 인수 : {'naem': '홍길동', 'number': '2', 'color': 'red'}

## 3.6 인수의 언패킹
### 튜플 인수 언패킹 

- 함수 호출시 매개변수앞에 *(애스터리스크)붙임
- 패킹 : 함수 호출 시 매개변수 앞에 *붙임(튜플매개변수)

In [80]:
def add(*args):
    print(args)
    tot = 0
    for num in args:
        tot += num
    return tot

In [84]:
add (1, 2, 3, 4)

(1, 2, 3, 4)

10

In [85]:
numbers = (1, 2, 3, 4)
add(*numbers) #언패킹됨 (리스트나 튜플 다 언패킹)

(1, 2, 3, 4)

10

In [87]:
numbers = (1,2,3,4,5,6,7)
add(*numbers)

(1, 2, 3, 4, 5, 6, 7)

28

### 딕셔너리 인수 언패킹
- 언패킹 : 함수 호출시 매개변수앞에 ** (애스터리스크) 붙임  
- 패킹 : 함수 정의 시 매개변수 앞에 ** 붙임

In [88]:
def func5(**data):
    print(type(data))
    for key, item in data.items():
        print(f'{key}:{item}')

In [89]:
func5(name="홍길동", age=30, address='신림동')

<class 'dict'>
name:홍길동
age:30
address:신림동

In [92]:
customInfo = {'name':'홍길동','age':30,'address':'서울시 강남구','score':900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:30
address:서울시 강남구
score:900

# 4절. 람다식(lambda)
- return 한줄짜리 작은 익명함수


## 4.1 람다식 연습

In [94]:
def add(a, b):
    return a+b
add(3,4)

7

In [95]:
          #매개변수 a,b  
add2 = lambda a, b : a+b
add2(3,4)

7

In [97]:
type(add), type(add2)

(function, function)

In [98]:
(lambda a, b : a+b)(3,4)

7

In [99]:
(lambda a, b : a*b)(2,4)

8

In [107]:
(lambda a,b : a//b)(20,7)

2

In [ ]:
#if 문으로 아래 문제 작성

In [131]:
# ex1. 매개변수를 받아서 들어온 값이 "짝수"인지 "홀수"인지 return 
def ex1(num):
    return "홀수" if num%2 else "짝수"
ex1 = lambda num : "홀수" if num%2 else "짝수"
ex1(10),ex1(2)

('짝수', '짝수')

In [ ]:
# ex1. 매개변수를 받아서 들어온 값이 "짝수"인지 "홀수"인지 return 
#def ex1(num):
#    if num%2:
#        result = "홀수"       
#    else:
#        result = "홀수"
#    return result

In [17]:
# ex 2. 두 매개변수의 차이를 return (*첫번째 매개변수가 클 수도 있고 작은수일수도 있고, 큰수-작은수)
#성미 풀이

def ex2(first, second):
    if first < second: 
        first, second = second, first               #큰 숫자와 작은 수 바꾸기 
    result = first - second
    return result

ex2(20,190)

170

In [18]:
#선생님 풀이
def diff(a, b):
    if a>b:
        result = a-b
    else:
        result = b-a
    return result
diff(2,1), diff(10,20)

(1, 10)

In [ ]:
def diff(a, b):
    result = a-b if a>b else b-a

In [20]:
ex2 = lambda a, b : a-b if a>b else b-a
ex2(2,1), ex2(10,20)

(1, 10)

In [110]:
# ex 3. 매개변수로 잔액을 받아 양수면 잔액을 return , 음수면 "땡"을 return 

def raf(a):
    if a>0:
        re
    else:
        prin

In [21]:
ex3 = lambda money : money if money>=0 else '땡'
ex3(1000), ex3(-100)

(1000, '땡')

In [29]:
# ex 4. 점수를 입력받아  80점 이상은 'A'그룹, 60점 이상은 'B'그룹, 60점 미만은 '재시험'. 그외는 유효하지 않음을 출력
ex4 = lambda grade : 'A' if 100>=grade >=80 else \
                    'B' if 80>grade>=60 else \
                    '재시험' if 60>grade>0 else \
                    "유효하지않은 점수" 
ex4(120),ex4(20)

('유효하지않은 점수', '재시험')

In [31]:
# ex 5. safe_index를 람다식으로 만들기
ex5 = lambda vector, data : vector.index(data) if data in vector else -1
tup = (1, 2, 3)
ex5(tup,4), ex5(tup, 2)

(-1, 1)

In [ ]:
#def safe_index(vector, data):
#    if data in vector: # lst안에 data 있는지 여부
#        return vector.index(data)
#    else:
#        return -1

In [74]:
#3절 함수 매개변수.. 중요

In [75]:
#스칼라 변수냐 데이터구조 변수냐에 따라서 다름 
#남이 짠거로