In [28]:
from IPython.display import display, HTML 
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
 """))

<font size="6" color="HOTPINK">CH.02 자료형과 연산자</font>

# 5절. 연산자
## 5.1 산술연산자 : +, -, *, /, //(몫연산자), %(나머지연산자), **(제곱연산자)
- 몫연산자 : 나눗셈을 했을 때의 "몫"만 구하는 연산자, 소수점 아래는 버리고 정수 부분만 결과로 돌려주는 연산.
- 

셔플링 : 데이터 섞기/

In [3]:
print('10의 5승 :',10**5)
print('4/2(결과실수) :', 4/2)
print('4//2(몫) :', 4//2)
print('4%2(나머지) :', 4%2)

10의 5승 : 100000
4/2(결과실수) : 2.0
4//2(몫) : 2
4%2(나머지) : 0

In [19]:
#퀴즈 1.정수를 입력받아 짝수인지 홀수인지 여부를 출력
num = int(input('정수를 입력하세요 :'))
result = num%2
if result:
    temp = "홀수"
else:
    temp = "짝수"
    
print(f"입력하신 수는 {num}, 2로 나눈 나머지는 {result}. 그래서 {temp}를 입력하셨군요.")

정수를 입력하세요 :9
입력하신 수는 9, 2로 나눈 나머지는 1. 그래서 홀수를 입력하셨군요.

In [46]:
#퀴즈 2.정수를 입력받아 5의 배수인지 여부를 출력
num = int(input('정수를 입력하세요'))
result = num%5
if result:
    temp = "5의 배수가 아님"
else:
    temp = "5의 배수"
    
print(f"입력하신 수는 {num}이며, {temp}를 입력하셨군요.")

정수를 입력하세요12
입력하신 수는 12이며, 5의 배수가 아님를 입력하셨군요.

In [57]:
#퀴즈 3.국,영,수 점수를 입력받아 다음셀에서 다음과 같이 산출
kor = int(input("국어?"))
eng = int(input("영어?"))
mat = int(input("수학?"))
sum = kor + eng + mat
avg = sum/3


print("국어:{:3d}\t영어:{:3d}\t수학:{:3d}".format(kor, eng, mat))
print("총점:{:3d}\t평균:{:5.1f}".format(sum, avg))

국어?99
영어?91
수학?92
국어: 99	영어: 91	수학: 92
총점:282	평균: 94.0

## 5.2 할당연산자 : =, +=, -=, *=, /=, //=, %=

In [59]:
a = 10
a += 5 #a = a+5

print("5더하기 :", a)

5더하기 : 15

In [71]:
a = 10
a -= 5 #a = a-5
print("5빼기 :", a)

5빼기 : 5

In [72]:
a = 10
a *= 5 #a = a*5
print("5배 :", a)

5배 : 50

## 5.3 논리연산자 : &,and,|,or, not(반대)

In [76]:
# & 논리연산 (왼쪽,오른쪽 참이여야 참, 둘이 다르면 거짓)
print( (10>3) &  (10>5) ) #논리연산 True & True
print(12 & 1) #논리연산으로 작동되지 않음.비트연산으로 작동 비트연산    12:0000 1100 
                                                                  # 1:0000 0001  =false(0)
                                                               #12&1 :0000 0000

True
0

In [89]:
# (&)and : 논리연산만 된다.  (flase의 값 찾기)
#false(거짓)으로 판별되는 철번째 항의 결과 반환
#모든 항이 참이면 마지막 항을 반환

print(True and True and True)
print(True and 1 and 2)
print(False and True and True)
print(False and True and 3)
print(0 and True)
print(True and 'abc')
print(True and False and 2)
print(True and [] and True)

True
2
False
False
0
abc
False
[]

In [110]:
# | : 논리연산, 비트연산
result = False | True
print('논리연산(연산자 앞뒤에 논리형일 때) :', result)
result = False | 3 # 0000 0000 (False)
                   # 0000 0011 (3)
print('비트연산(연산자 앞이나 뒤에 숫자일 때) :', result)

논리연산(연산자 앞뒤에 논리형일 때) : True
비트연산(연산자 앞이나 뒤에 숫자일 때) : 3

In [99]:
# or : 논리연산, 참으로 판별되는 첫번째 항을 반환 
# 모든항이 거짓이면, 마지막항을 반환
print(False or False or None)
print('Hong' or ' ' or False)

None
Hong

In [100]:
print(not True)

False

## 5.4 비교연산자 : >,>=,<,<=,==(같다),!=(다르다)

In [111]:
# 비교연산자는 이항, 삼항, 사항... 다항연산자
x = 5
print((4<x) & (x<10))
print(4 < x < 10)

True
True

In [115]:
# 비교연산자(<)의 우선순위가 논리연산(&)의 우선순위보다 낮다.
print( (10>5) & (10>7) )
print( 10>5 & 10>7 ) # 5&10이 먼저 계산됨(비트연산으로) 
                     # 0101 (5)
                     # 1010 (10)
print(10>0>7) #False의 값..

print( 10>5 and 10>7) #&말고 and를 쓰면 됨,, 그렇지만 &를 많이 쓴다.

True
False
False
True

In [120]:
address = '서울'
age = 29

#print(address == '서울' & age>=30)  논리연산이 더 높아서 에러나는 부분
print( (address == '서울') & (age>=30) ) #서울에 사는 30대
print( (address != '서울') & (age>=30) ) #서울에 안 사는 30대

False

In [124]:
# 문자 비교 : ASCII 코드 순으로 비교 가능 (A->Z , ㄱ->ㅎ 순으로 크기 비교) :특수문자<숫자<대문자<소문자
#첫번째글자순서대로 비교하는 기준, 만약 같다면 두번째 글자순으로 내려감.
'scott' < 'sctiger'

True

In [127]:
'9' > '10' #9의 첫 숫자는 9, 10의 첫 숫자는 1로 9가 더 커서 True

True

In [126]:
'김길동' < '홍길동'

True

## 5.5비트연산자 : &,|,^(XOR), ~

In [ ]:
#x y  x&y    x^y #데이터가 같으면 0 ,다르면 1
#0 0   0      0
#0 1   0      1
#1 0   0      1
#1 1   1      0

In [134]:
a = 15 # 1111
b = 2  # 0010
print("a = {0:2} : {0:04b}".format(a))
print("b = {0:2} : {0:04b}".format(b))
print("a^b = {0:2} : {0:04b}".format(a^b))

a = 15 : 1111
b =  2 : 0010
a^b = 13 : 1101

- 연산자 
    - 산술연산 : + - * / // % **  
    - 할당연산 : = += -= *= /= //= %=  
    - 논리연산 : & and | or not 
    - 비교연산 : > >= < <= == != 
    - 비트연산 : & | ^ 
   
    
    *중요
    (&와 |은 비교연산자보다 우선순위가 높다.)

# 6절. 문자열 다루기
- 문자열 슬라이싱 변수.[from:stop:step] 
- len(문자열변수) : 문자갯수 *len안에 함수 

- upper() : 대문자로 변환 
- lower() :소문자로 반환
- title() : 각 어절의 첫글자만 대문자로 반환
- capitalize() : 첫문자만 대문자로 반환
- count('찾을문자열') : '찾을문자열'이 몇개 들어있는지 갯수 반환 
- find('찾을문자열) : '찾을문자열'이 왼쪽부터 시작하여 몇번째 인덱스에 있는지 인덱스 반환 (왼쪽부터 찾음)
- rfind('찾을문자열') : '찾을문자열'이 오른쪽부터 시작하여 몇번째 인덱스에 있는지 인덱스 반환 (오른쪽부터 찾음)
        **찾을문자열이 없으면 -1을 반환**
    cf) index('찾을문자열') : '찾을문자열'의 인덱스를 반환 / 안 씀 
        **없으면 에러나옴** 
- startswith('특정문자열') : '특정문자열'로 시작하는지 여부 (시작한다-Ture. 아니다 - False)
- endswith('특정문자열') : '특정문자열'로 끝나는지 확인하는 여부 
- strip() : 좌우 공백 제거 **자바는 트립을 씀
- rstrip() : 오른쪽 공백제거 
- lstrip() : 왼쪽 공백제거
- isdigit() : 문자열이 숫자문자열인지 여부  *100명 의 단어는 문자열 (숫자가 아님)
- islower() : 소문자문자열인지 여부
- isupper() : 대문자문자열인지 여부 
- replace(oldstr, newstr) : oldstr을 newstr로 변경
- split(구분자) : 구분자를 통해서 문자 분리(리스트로 반환)
- join(리스트) : 리스트를 연결

In [178]:
temp = "python is easy. pYThon is smart. python"
print('1.글자수 :', len(temp))
print('2.대문자로 :', temp.upper())
print('3.소문자로 :', temp.lower())
print('4.title :', temp.title())
print('5.capitalize :', temp.capitalize())
print('6.python이 몇번 나오는지 :', temp.count('python'))
print('7.대소구분없이 python이 몇번 나오는지 :', temp.lower().count('python')) #소문자로 변환 후 카운트
print('7.대소구분없이 python이 몇번 나오는지 :', temp.upper().count('PYTHON')) #대문자로 변환 후 카운트
print('7.대소구분없이 python이 몇번 나오는지 :', temp.title().count('Python')) #첫글자만 대문자로 변환 후 카운트
print('8.python이 나오는 첫 index 위치 :', temp.find('python'))
print('8.python이 나오는 마지막 index 위치 :', temp.rfind('python'))
print('8.java가 나오는 마지막 index 위치 :', temp.rfind('java')) #없는 단어는 -1로 반환
print('8.python이 나오는 첫 index 위치 :', temp.index('python'))
#print('8.python이 나오는 첫 index 위치 :', temp.index('index')) 오류나서 안 쓰는 추세
print('9.python으로 시작하는지 여부 :', temp.startswith('python'))
print('9.python으로 끝나는지 여부 :', temp.endswith('PYTHON'))
print('10.대소문자 구분없이 python으로 끝나는지 여부 :', temp.upper().endswith('PYTHON'))

1.글자수 : 39
2.대문자로 : PYTHON IS EASY. PYTHON IS SMART. PYTHON
3.소문자로 : python is easy. python is smart. python
4.title : Python Is Easy. Python Is Smart. Python
5.capitalize : Python is easy. python is smart. python
6.python이 몇번 나오는지 : 2
7.대소구분없이 python이 몇번 나오는지 : 3
7.대소구분없이 python이 몇번 나오는지 : 3
7.대소구분없이 python이 몇번 나오는지 : 3
8.python이 나오는 첫 index 위치 : 0
8.python이 나오는 마지막 index 위치 : 33
8.java가 나오는 마지막 index 위치 : -1
8.python이 나오는 첫 index 위치 : 0
9.python으로 시작하는지 여부 : True
9.python으로 끝나는지 여부 : False
10.대소문자 구분없이 python으로 끝나는지 여부 : True

In [199]:
temp = "           Python is easy.              "
notdisit = "1,000,000,000,000"
num_str = "1000"

print("11. 좌우공백제거 : [{}] ".format(temp.strip()))
print("11. 좌측공백제거 : [{}] ".format(temp.lstrip()))
print("11. 우측공백제거 : [{}] ".format(temp.rstrip()))
print("12. 숫자문자열인지  :", notdisit.isdigit())
print("13. 소문자 문자열인지 :  ", temp.islower())
print("13. 대문자 문자열인지 :  ", temp.isupper())
print("14. ,제거 :",notdisit.replace(',','') )
print("14. ,제거 :",num_str.replace(',','') )

11. 좌우공백제거 : [Python is easy.]
11. 좌측공백제거 : [Python is easy.              ]
11. 우측공백제거 : [           Python is easy.]
12. 숫자문자열인지  : False
13. 소문자 문자열인지 :   False
13. 대문자 문자열인지 :   False
14. ,제거 : 1000000000000
14. ,제거 : 1000

In [200]:
#문자열 분리
temp = " 홍길동    김길동   신길동             유길동"
print("space 단위로 temp를 분리 :",temp.split()) #기본이 space 단위로 분리

space 단위로 temp를 분리 : ['홍길동', '김길동', '신길동', '유길동']

In [212]:
data = "2025-04-10"
print(" - 단위로 data를 분리(결과 : list)")
data_list = data.split('-')
print(data_list)
print("년 :",data_list[0])
print("월 :",data_list[1])
print("일 :",data_list[2])

 - 단위로 data를 분리(결과 : list)
['2025', '04', '10']
년 : 2025
월 : 04
일 : 10

In [217]:
# ' - ' 분리 ' / ' 합치기 (- 를 /로 바꾸기)
temp = " Python - HTML/CSS - JavaScript - DBMS - 딥러닝(DNN-CNN-RNN) - 머신러닝"
#temp.replace('-','/')
print('원 데이터 : ', temp)
splited_temp = temp.split(' - ')     #*문자에 쓸 수 있는 함수
print('분리된 데이터 :', splited_temp)
joined_temp = '/'.join(splited_temp) #*문자에 쓸 수 있는 함수
print('join된 데이터 :',joined_temp)

원 데이터 :   Python - HTML/CSS - JavaScript - DBMS - 딥러닝(DNN-CNN-RNN) - 머신러닝
분리된 데이터 : [' Python', 'HTML/CSS', 'JavaScript', 'DBMS', '딥러닝(DNN-CNN-RNN)', '머신러닝']
join된 데이터 :  Python/HTML/CSS/JavaScript/DBMS/딥러닝(DNN-CNN-RNN)/머신러닝

In [218]:
str_ ='ABC'
#str_ = ['A','B','C']

In [220]:
#문자열이 다룰 수 있는 함수들과 변수들 목록
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [221]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

# 7절 시간,날짜,날짜시간 다루기

In [ ]:
#날짜랑 시간 한번에 저장
#오늘 날짜만 저장
#시간만 저장

#datetime 시간,날짜 함수를 지정해줌

In [5]:
import datetime #datetime 시간,날짜 함수를 지정해서 불러올 수 있는 방안 / import는 전체 다 불러오는것
datetime.__file__

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [6]:
#datetime 모듈(datetime.py)안의 datetime, date, time을 import 
from datetime import datetime, date, time #특정한 날짜나 지금 이 순간을 반환해줌

## 7.1 시간과 날짜

In [8]:
#특정한 시점을 갖는 datetime 객체 생성
thatday = datetime(2025, 4, 7, 9, 30, 0)  #년,월,일,시,분,초    / 시간은 (2025, 4, 7)만 하면 시간은 0시 0분으로 나타남
thatday

datetime.datetime(2025, 4, 7, 9, 30)

In [26]:
print(thatday)
print(thatday.ctime()) #ctime() : (미국)사람이 읽기쉬운 형태로 반환
print("{:%Y년%m월%d일 (%A) %p %I시%M분 %S초}".format(thatday))
print(thatday.strftime("%Y년%m월%d일 (%A) %p %I시%M분 %S초"))

2025-04-07 09:30:00
Mon Apr  7 09:30:00 2025
2025년04월07일 (월요일) 오전 09시30분 00초
2025년04월07일 (월요일) 오전 09시30분 00초

In [25]:
import locale #locale 지역 설정
locale.setlocale(locale.LC_TIME, 'Ko_KR')  #한국으로 설정

'Ko_KR'

In [33]:
#지금 바로 데이터 출력
now = datetime.now()
print(now.strftime("%Y년%m월%d일(%A) %p %I시%M분 %S초"))

2025년04월11일(금요일) 오전 10시15분 12초

In [34]:
diff = now - thatday
diff

datetime.timedelta(days=4, seconds=2712, microseconds=215609)

In [36]:
diff.days # 초분은 필요없고 날짜만 추출하는 방법

4

## 7.2 날짜

In [38]:
someday = date(2025, 9, 3) #특정한 날짜 지정
someday

datetime.date(2025, 9, 3)

In [39]:
print(someday.strftime("%Y년%m월%d일"))

2025년09월03일

In [44]:
#오늘 날짜 지정
today1 = datetime.now().date()
today2 = date.today()
today1 == today2

True

In [49]:
print(today1.strftime("%y년 %m월 %d일"))

25년 04월 11일

In [53]:
diff = someday - today #날짜는 큰 수에서 작은수 빼야함, 작은수에서 큰수빼면 음수가 나옴 
diff.days

145

## 7.3시간

In [54]:
#특정 시간
t = time(13,10)
t

datetime.time(13, 10)

In [56]:
#특정한 시간
print(t)
print(t.strftime("%p %I시 %M분"))

13:10:00
오후 01시 10분

In [58]:
#지금 시간
now_time = datetime.now().time()
now_time

datetime.time(10, 42, 21, 883280)

In [62]:
print(t)
print(t.strftime("%H시 %M분 %S초"))

13:10:00
13시 10분 00초

**datetime, date, time형들을 원하는 포맷의 문자형으로 반환하는 : strftime()**
- ()에 %Y, %y, %m , %d, %A(요일) %p(오전/오후) %H(24시) %I(12시) %M(분) %S(초)

# 8절. 연습문제

In [136]:
'''
연습문제 1.
이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
'''
name = "홍길동"
age = 23

print("{}님의 나이는 {}살입니다.".format(name,age))

홍길동님의 나이는 23살입니다.

In [232]:
''' 
연습문제 2. 
두 정수를 입력받아 두 수의 덧셈 , 뺄셈 , 곱셈 , 나눗셈 , 몫 , 나머지를 출력하세요
'''
a = 20
b = 300

print('a+b의 값은?',a+b)
print('a*b의 값은?',a*b)
print('a/b의 값은?', a/b)
print('a/b의 몫의 값은?', a//b)
print ('a/b의 나머지 값은?', a&b)

a+b의 값은? 320
a*b의 값은? 6000
a/b의 값은? 0.06666666666666667
a/b의 몫의 값은? 0
a/b의 나머지 값은? 4

In [301]:
'''
연습문제 3.
문자열의 분리하기와 합치기 기능을 이용하여 ‘ Hello World'가 
할당된 변수를 이용하여 ‘World Hello' 로 출력하세요
'''
temp = "Hello World"
#print(temp[-10::0])
print(temp[6:], temp[0:5]) 
#print(temp[0:5])

World Hello

In [305]:
'''
연습문제4.
x = ' abcdef ＇를 이용하여 bcdefa 로 출력하세요
'''
x = 'abcdef'
print(x[1:],x[0], sep='')

#선생님 찬스

bcdefa

In [287]:
'''
연습문제5.
x = ' abcdef ＇를 이용하여 fedcba 로 출력하세요
'''
x = 'abcdef'
print(x[::-1])

fedcba

In [ ]:
'''
연습문제6.
오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요 . 
화씨 온도는 소수점이 있을 경우만 두번째 자리까지 출력되고 , 소수점이하 값이 없는 경우 
소수점을 출력하지 않도록 합니다 다음은 섭씨와 화씨의 변환 공식입니다 . 
C 는 섭씨 , F 는 화씨
C = (F32) / 1.8
F = (C1.8) + 32
'''


num = int(input('오늘의 온도를 입력하세요 :'))


#비상 비상,, 전혀 모르겠어요.

In [ ]:
'''
연습문제7.
다음 중 변수 선언으로 잘못된 것을 모두 고르시오
① for
② 10th
③ Student.name
④ _1234
'''

#잘못된 것 
for(파이썬 예약어는 명령어로 사용하지 않는다.)
10th (숫자가 앞에 나오면 변수설정 x)
Student.name (변수는 _만 가능하다.)
_1234(언더바는 뒤에,,?)

In [ ]:
'''
연습문제 8.
다음코드의 실행결과는?
text = "Seoul A001 - programming with ptyhon"
print(text[:4]+text[-1]+text.split()[0])
print(text[:4],text[-1],text.split()[0])
'''
SeounSeoul
Seou n Seoul

In [ ]:
'''
연습문제 9.
다음 중 파이썬 3.x 버전에서 연산식과 그 결과의 출력이 잘못된 것은?
① 수식 8//2 결과 4
② 수식 8/2 결과 4
③ 수식 8 **2 결과 64

'''

#없음!

In [ ]:
'''
연습문제 10.
아래 프로그램의 결과는?
x = 5
y = "John"
print(x + y)
'''

#x는 숫자 y는 문자로 계산이 안 되는거 아닐까요?
#str로 감싸기

In [299]:
'''
연습문제 11.
split()함수를 이용하여 str_의 값 중 "나라"를 출력하는 프로그램을 완성하시오
str_ = "우리 나라 대한 민국"
'''

str_ = "우리 나라 대한 민국"
print(str_[3:5])

나라