In [1]:
from IPython.display import display, HTML 
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
 """))

In [2]:
import numpy as np

In [6]:
a = np.array([10, 20, 30, 40], dtype=np.int8)
b = np.arange(4)
print('a =', a)
print('b =', b)

a = [10 20 30 40]
b = [0 1 2 3]

In [8]:
a = a+b
a

array([10, 22, 34, 46])

# while 반복문 연습

In [6]:
sum = 0  #누적합 
i = 0 
while sum <= 10000:
    i = i+1
    sum += i
print(i)
print(sum)

141
10011

In [7]:
sum = 0  #누적합 
while sum <= 10000:
    i = i+1
    sum += i
print(i)
print(sum)

200
10089

In [10]:
list = ['철수',100,2000,30,201,10]
list.remove('철수')
print(list)

[100, 2000, 30, 201, 10]

# 연습문제 모음.zip

## 1) 짝수 홀수 판별기 프로그램

In [ ]:
#양의 정수를 입력 받아 홀수인지 짝수인지를 판별하는 프로그램을 작성하세요 .
#양의 정수가 아니면 숫자를 다시 입력 받아야 합니다.

In [61]:
num  = 0

while num<=0:
    num = int(input('숫자를 입력하세요.'))
    
bl_num = '홀수' if num%2 else "짝수"
print('입력하신 양의 정수는 {}이고, {}입니다.'.format(num,bl_num))

숫자를 입력하세요.3
입력하신 양의 정수는 3이고, 홀수입니다.

In [60]:
for a in range(5):
    for b in range(5):
        print("*",end='')
    print()

*****
*****
*****
*****
*****

In [25]:
for a in range(6):
    for b in range(a):
        print("*",end='')
    print()

*
**
***
****
*****

In [36]:
numbers_2d = [[90, 90, 92, 93],
             [85, 86, 82, 83],
             [70, 71, 72, 73]]

for i, row in enumerate(numbers_2d) :
    for j, value in enumerate(row) : 
        print("{}행{}열:{}".format(i, j,value) ,end='\t')
    print()

0행0열:90	0행1열:90	0행2열:92	0행3열:93
1행0열:85	1행1열:86	1행2열:82	1행3열:83
2행0열:70	2행1열:71	2행2열:72	2행3열:73

In [38]:
for i, row in enumerate(numbers_2d) :
    for j, value in enumerate(row) : 
        print(f"{i}행{j}열:{value}" ,end='\t')
    print()

0행0열:90	0행1열:90	0행2열:92	0행3열:93
1행0열:85	1행1열:86	1행2열:82	1행3열:83
2행0열:70	2행1열:71	2행2열:72	2행3열:73

In [44]:
# 90 91 92 93
# 80 81 82 83
# 70 71 72 73 이 나와야함

for row in numbers_2d:
    for item in row:
        print(item, end='\t')
    print()

90	90	92	93
85	86	82	83
70	71	72	73

In [6]:
numbers = [1, 12, 32, 4, 5, 19, 82, 64, 50]

# 질문 1 sum이 안 된다..

In [7]:
print('오름차순 :', sorted(numbers))
print('내림차순 :', sorted(numbers, reverse=True))
print('합 :', sum(numbers))

오름차순 : [1, 4, 5, 12, 19, 32, 50, 64, 82]
내림차순 : [82, 64, 50, 32, 19, 12, 5, 4, 1]
합 : 269

In [8]:
city =('서울','부산','인천', '목포' )

In [9]:
new_city = ''.join(city)
print(new_city)

서울부산인천목포

In [7]:
'''
Q.다음 리스트가 주어졌을 경우 요구대로 코드를 작성하시오.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1.숫자 100을 맨 뒤에 추가하세요.
'''

numbers =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers.append(100)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [2]:
'''
Q.다음 리스트가 주어졌을 경우 요구대로 코드를 작성하시오.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2.다음 리스트를 numbers 리스트 맨뒤에 추가하세요.
data = [200, 300, 400, 500]

append() : 맨 뒤에 요소 추가
extend() : 맨 뒤에 리스트를 요소별로 추가
insert(idx, 값) : idx번째 인덱스 위치에 추가(기존 데이터는 shift)
'''

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
data = [200, 300, 400, 500]

numbers.append(data)
print(numbers)
numbers.extend(data)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [200, 300, 400, 500]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [200, 300, 400, 500], 200, 300, 400, 500]

In [15]:
numbers = [1,2,3,4,5,6,7,8,9,10]
# 1.숫자 100을 맨뒤에 추가
numbers.append(100)
print('1번 결과 :',numbers)

# 2. 다음 리스트를 numbers 리스트 맨뒤에 추가
data = [200,300,400,500]
# numbers = numbers + data
numbers.extend(data)
print('2번 결과 :',numbers)

# 3. 처음 다섯개 숫자만 출력
print('3번 결과 :',numbers[:5])

# 4. 짝수번째 인덱스 데이터만 출력(설명부탁함. for문 사용보다는 슬라이싱 강추)
print('4번 결과 :', numbers[::2])

# 5. 짝수번째 데이터를 모두 0으로 바꿔
numbers[::2] = [0] * len(numbers[::2])
print('5번 후 결과 :', numbers)

# 6. 데이터를 역순으로 나열
print('6번 결과 :', numbers[::-1])
# numbers.reverse()
# numbers

1번 결과 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]
2번 결과 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]
3번 결과 : [1, 2, 3, 4, 5]
4번 결과 : [1, 3, 5, 7, 9, 100, 300, 500]
5번 후 결과 : [0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 200, 0, 400, 0]
6번 결과 : [0, 400, 0, 200, 0, 10, 0, 8, 0, 6, 0, 4, 0, 2, 0]

In [ ]:
'''
Q.다음 구문을 실행할 때 결과는?
'''
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[::2] = numbers[5:]
print(numbers)
numbers[::2] = 0,2,4,6,8 이고 (짝수번째)
numbers[5:] = 5,6,7,8,9 인데 
짝수번째 인덱스를 numbers[5:]로 바꾸라는 말.
최종적으로 5,1,6,3,7,5,8,7,9,9

In [ ]:
'''
Q.다음 구문을 실행할 때 결과는?
numbers = list(range(10))
numbers[::2]=0*len(numbers[::2])
print(numbers)

'''
numbers[::2]= 짝수번째 호출 
0*len(numbers[::2]) = 0* 짝수 갯수
짝수번째를 = 0으로 짝수갯수만큼 바꾸자
0,1,0,3,0,5,0,7,0,9

# 화씨계산 ..

In [ ]:
'''
연습문제6.
오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요 . 
화씨 온도는 소수점이 있을 경우만 두번째 자리까지 출력되고 , 소수점이하 값이 없는 경우 
소수점을 출력하지 않도록 합니다 다음은 섭씨와 화씨의 변환 공식입니다 . 
C 는 섭씨 , F 는 화씨
C = (F32) / 1.8
F = (C1.8) + 32
'''
c = 
f = (c*1.8)+32

In [20]:
'''함수 페이지 실습문제 
Q1.함수의 인자로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을 리턴하는 함수를 작성하세요.

'''
#def get_max_min(data_list):
#get_max_min = lambda ~

#튜플로 반환

def get_max_min(data_list):
    return max(data_list), min(data_list)

get_max_min = lambda data_list : (max(data_list), min(data_list))
get_max_min([0,1,2,3,4,9])

(9, 0)

In [30]:
'''실습형
Q2.
체질량 지수(Body Mass Index, BMI)는 체중과 키를 이용해 비만도를 나타내는 지수로 아래의 수식에 의해 계산됩니다. 
함수의 인자로 체중(kg)과 신장(m)를입력받은 후 BMI값에 따라 
‘마른 체형‘, ‘표준‘, ‘비만‘, ‘고도비만‘ 중 하나의 상태를 출력하는 함수를 구현해 보세요.
getBMI(kg, m):
BMI지수 = 체중(kg)/신장(m)의 제곱
BMI<18.5 : 마른체형
18.5<=BMI<25 : 표준
25<=BMI<30 : 비만
BMI >=30 : 고도비만

'''
#체중과 신장으로 bmi 지수 계산하고
# 그 값이 표준인지 마른체형인지 비만인지 고도비만 인지 체크
# 리턴값이 나타남
#체중과 신장 계산하는 변수
#a =체중 / b =신장 


def getBMI(kg,m):
    bmi = kg / (m**2)
    if bmi < 18.5:
        print('마른체형')
    elif 18.5 < bmi < 25:
        print('표준체형')
    elif 25 < bmi < 30:
        print('비만 체형')
    else:
        print('고도 비만')
        
getBMI(70, 1.75)
print(getBMI(70, 1.75))

#람다식

getBMI_lambda = lambda kg, m : '마른체형' if kg / (m**2) <18.5 else \
                                '표준 체형' if 18.5 <= kg / (m**2) < 25 else \
                                '비만 체형' if 25 <= kg / (m**2) < 30 else \
                                '고도 비만'

print(getBMI_lambda(70, 1.75))

표준체형
표준체형
None
표준 체형

In [3]:
'''이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
출력형식 : 홍길동님의 나이는 23 살입니다'''

name = '홍길동'
age = 23

print(f'{name}님의 나이는 {age}살 입니다.')
print('{}님의 나이는 {}살 입니다.'.format(name,age))

홍길동님의 나이는 23살 입니다.
홍길동님의 나이는 23살 입니다.

In [4]:
# 5. 짝수번째 데이터를 모두 0으로 바꾸는게 아니고 출력만 하려면
numbers = [1,2,3,4,5,6,7,8,9,10]
[numbers[idx] if idx%2!=0 else 0 for idx in range(len(numbers))]

if idx&2!=0 #idx를 2로 나눈게 0이 아니라면 = 홀수 , if 다음 조건이 참이 아니라면 else로 가야하니까 짝수면 0이 되어야 함.
else 0 모든 조건을 만족하지 않을 때 수행할 명령어들
0,2,0,4,0,

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10]

In [6]:
# 10번 2단계
'''
1~100 사이의 정수를 맞추기 프로그램
(프로그램 안에서 random수가 만들어지고 그 random수 맞추기)
1단계 : 숫자를 못 맞추면 UP/DOWN을 출력하고, 맞추면 축하메세지 뿌리고 끝남
2단계 : 숫자를 못 맞추면 fRom~to를 조정, 맞추면 축하메세지 뿌리고 끝남
3단계 : 2단계의 기회를 5회 제한. 5회의 기회가 지나면 실패 메세지 뿌리고 끝남
(2단계와 3단계 연습문제)
'''

import random
fRom, to = 1, 100 #1과 100사이 난수 발생
inputNum = 0 #맞춰야 하는 수가 저장될 변수
randomNum = random.randint(fRom, to)
print('컴퓨터가 만든 임의의 수 :', randomNum)

while randomNum!=inputNum:
    inputNum = int(input(f'{fRom}~{to}사이의 숫자를 맞춰보세요 :'))
    
    if (inputNum<fRom) | (inputNum>to): #입력값이 최소값보다 작거나, 크면 오류
        print('수의범위를 벗어났습니다.')
    elif randomNum < inputNum:          #컴퓨터가 만든 수보다 입력값이 클 때 
        print('DOWN    ↓')
        to = inputNum-1               #입력한 수보다 1수 작은 수를 알려주기 위해
    elif randomNum > inputNum:         #컴퓨터가 만든 수 보다 입력값이 작을 때 
        print('UP      ↑')
        fRom = inputNum+1
    else:                              #정답을 입력했을 때
        print('정답입니다!')

컴퓨터가 만든 임의의 수 : 7
1~100사이의 숫자를 맞춰보세요 :1
UP      ↑
2~100사이의 숫자를 맞춰보세요 :2
UP      ↑
3~100사이의 숫자를 맞춰보세요 :9
DOWN    ↓
3~8사이의 숫자를 맞춰보세요 :0
수의범위를 벗어났습니다.
3~8사이의 숫자를 맞춰보세요 :5
UP      ↑
6~8사이의 숫자를 맞춰보세요 :4
수의범위를 벗어났습니다.
6~8사이의 숫자를 맞춰보세요 :7
정답입니다!

In [11]:
# 10번 3단계
'''
1~100 사이의 정수를 맞추기 프로그램
(프로그램 안에서 random수가 만들어지고 그 random수 맞추기)
1단계 : 숫자를 못 맞추면 UP/DOWN을 출력하고, 맞추면 축하메세지 뿌리고 끝남
2단계 : 숫자를 못 맞추면 fRom~to를 조정, 맞추면 축하메세지 뿌리고 끝남
3단계 : 2단계의 기회를 5회 제한. 5회의 기회가 지나면 실패 메세지 뿌리고 끝남
(2단계와 3단계 연습문제)
'''

import random
fRom, to = 1, 100
inputNum = 0
randomNum = random.randint(fRom, to)
print('컴퓨터가 만든 임의의 수 :', randomNum)

for i in range(5,0,-1):     #5번 수행하는데 뒷순서부터 선언, 그 값이 i에 들어간다.
    inputNum = int(input(f'{fRom}~{to}사이의 숫자를 맞춰보세요. 남은기회{i}번 :'))
    
    if (inputNum<fRom) | (inputNum>to):
        print('숫자의 범위를 벗어났습니다.')
    elif randomNum > inputNum: 
        print('UP      ↑')
        fRom = inputNum+1
    elif randomNum < inputNum:
        print('DOWN    ↓')
        to = inputNum-1
    else:
        print('정답입니다! 축하합니다.')
        break   #브레이크를 안 쓰면 정답을 맞춰도 남은 기회 소진
else:
    print('모든 기회를 다 쓰셨습니다. 종료합니다.')

컴퓨터가 만든 임의의 수 : 17
1~100사이의 숫자를 맞춰보세요. 남은기회5번 :90
DOWN    ↓
1~89사이의 숫자를 맞춰보세요. 남은기회4번 :80
DOWN    ↓
1~79사이의 숫자를 맞춰보세요. 남은기회3번 :70
DOWN    ↓
1~69사이의 숫자를 맞춰보세요. 남은기회2번 :60
DOWN    ↓
1~59사이의 숫자를 맞춰보세요. 남은기회1번 :50
DOWN    ↓
모든 기회를 다 쓰셨습니다. 종료합니다.

# 람다식 연습

In [12]:
def add(a, b):
    return a+b
add(3,5)

8

In [13]:
add2 = lambda a,b : a+b 
add2(3,5)

8

In [14]:
type(add),type(add2)

(function, function)

In [16]:
(lambda a,b : a+b)(3,4)   #(3,4)는 람다식에 넘겨주는 인자로 a=3, b=4이므로 a+b = 7

7

In [21]:
#매개변수로 들어온 값이 짝수인지 홀수인지 return

def ex1(num):
    if num%2:  #num을 2로 나눴을때 나머지가 1이면 True 홀수 (홀수일때 Treu, 짝수일때 False) 짝수면 나머지가 0이여야해.
        result = '홀수'
    else:
        result = '짝수'
#def ex1(num):
ex1 = lambda num : '홀수' if num%2 else'짝수'
ex1(9),ex1(19),ex1(-2)

('홀수', '홀수', '짝수')

# 객체지향 프로그래밍

In [4]:
person1 = {'name':'홍길동','gender':'남자','accademy':'MBC'}
person2 = {'name':'홍길숙', 'gender':'여자','accademy':'MBC'}
print(person1['name'],person1['gender'],person1['accademy'])
person2['name'] = '홍깔숙'
print(person2['name'],person2['gender'],person2['accademy'])
print(person2)

홍길동 남자 MBC
홍깔숙 여자 MBC
{'name': '홍깔숙', 'gender': '여자', 'accademy': 'MBC'}

In [13]:
class Person:
    accademy = 'MBC'
    def __init__(self,name,gender):
        self.name = name
        self.gender = gender
    def print_info(self):
        print("{}는 {}입니다. {}를 다니고 있습니다.".format(self.name,
                                                        self.gender,
                                                        self.accademy))
    def __str__(self):
        return"{}는 {}입니다. {}를 다니고 있습니다.".format(self.name,
                                                        self.gender,
                                                        self.accademy)

In [17]:
p1 = Person('홍길동','남자')
p2 = Person('함길동','여자')
print(p1)
print(p2)

In [19]:
class Person:
    def __init__(self,name,gender='남자'):
        self.name = name
        self.gender = gender
        print('Person 객체 생성합니다.', name)
    def __del__(self):
        print('Person 객체 소멸시킵니다.', self.name)
    def print_info(self):
        print("{}는 {}입니다.".format(self.name, self.gender))
    def __str__(self):
        return f'{self.name}는{self.gender}입니다.'

In [31]:
p4 = Person('신길동')
print(p4)

Person 객체 생성합니다. 신길동
신길동는남자입니다.

In [22]:
p1 = Person('신사임당','여자')

Person 객체 생성합니다. 신사임당
Person 객체 소멸시킵니다. 신사임당

In [23]:
p1.print_info()

신사임당는 여자입니다.

In [24]:
p2 = Person('홍길동','남자')
print(p2)

Person 객체 생성합니다. 홍길동
홍길동는남자입니다.

In [25]:
p3 = p2

In [26]:
del p1

In [27]:
del p2

In [28]:
del p3

Person 객체 소멸시킵니다. 홍길동

In [39]:
class Person:
    name = '홍길동'
    gender = '남자'
    def print_info(self):
        print(f'인스턴스(일반)메소드 - {self.name}는 {self.gender}입니다.')
    def change_info(self,name,gender='남자'):
        self.name = name
        self.gender = gender
        print(f'인스턴스(일반)메소드 - {self.name}/{self.gender}로 변경 완료')
    @classmethod
    def do_(clz):
        clz.name = '심사임당'
        clz.gender = '여자'
        print(f'클래스 메소드 - {clz.name}/{clz.gender} 변경완료')
    @staticmethod
    def that_():
        Person.name = '신길동'
        Person.gender = '남자'
        print(f'static 메소드 - {Person.name}/{Person.gender} 변경완료')

In [42]:
p1.print_info()

인스턴스(일반)메소드 - 홍길동는 남자입니다.

In [44]:
Person.do_()

클래스 메소드 - 심사임당/여자 변경완료

In [45]:
Person.that_()

static 메소드 - 신길동/남자 변경완료

In [50]:
class Cal:
    def __init__(self, num1=1, num2=2):
        print('두 수 초기화')
        self.num1 = num1
        self.num2 = num2
    def add(self):
        return self.num1+self.num2
    def sub(self):
        return self.num1-self.num2
    def div(self):
        return self.num1/self.num2 if self.num2!=0 else '0으로 나눌 수 없어요'
        #         <조건>            if   <조건문>    else        <대체값>
        # 조건문을 중심으로(num2가 0이 아니라면 조건값 출력, 0이면 대체값 출력)
        #self.num2가 0이 아니라면 true(self.num1/self.num2 값을 반환)/ self.num2가 0이라면 0으로 나눌수 없어요
    def __str__(self):
        return 'num1={}, num2={}'.format(self.num1,self.num2)

In [63]:
class Cal_inherit(Cal):
    def mul(self):
        return self.num1*self.num2

obj1 = Cal_inherit(2,2)
obj2 = Cal_inherit(5,4)
print(obj1.add())
print(obj1)
print(obj2)
print(obj2.mul())

두 수 초기화
두 수 초기화
4
num1=2, num2=2
num1=5, num2=4
20

In [64]:
class Person:
    def __init__(self, name, gender):
        print('이름과 성별 초기화')
        self.name = name
        self.gender = gender
    def __str__(self):
        return "{}님은 {}입니다.".format(self.name, self.gender)
    def print_info(self):
        print(self)

In [69]:
p = Person('홍길동', '남자')
p.print_info()
Person.print_info(p)

이름과 성별 초기화
홍길동님은 남자입니다.
홍길동님은 남자입니다.

In [75]:
class Student(Person):
    def __init__(self, name, gender, major):
        super().__init__(name, gender)
        self.major = major
    def __str__(self):
        return super().__str__()+'전공은 {}입니다.'.format(self.major)

In [76]:
s = Student('홍길숙','여자','AI')
print(s)
s.print_info()

이름과 성별 초기화
홍길숙님은 여자입니다.전공은 AI입니다.
홍길숙님은 여자입니다.전공은 AI입니다.

In [85]:
class Shape:
    def __init__(self, x=0,y=0):
        self.x = x
        self.y = y
    def move(self, x, y):
        'x,y 좌표 이동'
        self.x += x
        self.y += y
    def __str__(self):
        return 'x좌표 : {}, y좌표 : {}'.format(self.x,self.y)
    def calc_area(self):
        raise Exception ('강제 예외 발생 (이 메소드는 상속받는 곳에서 재정의 강요)')
    @staticmethod
    def staticmethod_():
        print('도형 클래스 staticmethod 호출')

In [86]:
s =Shape(2,2)
print(s)
s.move(12,5)
print(s)
Shape.staticmethod_()

x좌표 : 2, y좌표 : 2
x좌표 : 14, y좌표 : 7
도형 클래스 staticmethod 호출

In [87]:
class Triangle(Shape):
    __count = 0
    def __init__(self, width, height, x=0, y=0):
        Triangle._Triangle__count += 1
        self.width = width 
        self.height = height
        super().__init__(x,y)
    def __del__(self):
        Triangle._Triangle__count -= 1
    def __str__(self):
        return super().__str__()+ ", width : {}, height : {}, area:{}".format(self.width,
                                                                              self.height,
                                                                              self.calc_area())
    def calc_area(self):
        return (self.width*self.height)/2
    @classmethod
    def get_count(cls):
        return cls.__count

In [92]:
t =  Triangle(4,5,0,10)
t1 = Triangle(10,20)
t2 = Triangle(3,4,5,5)
print(t)
print(t1)
print(t2)
print('Triangle 객체 갯수 :', Triangle.get_count())
Triangle.staticmethod_()

x좌표 : 0, y좌표 : 10, width : 4, height : 5, area:10.0
x좌표 : 0, y좌표 : 0, width : 10, height : 20, area:100.0
x좌표 : 5, y좌표 : 5, width : 3, height : 4, area:6.0
Triangle 객체 갯수 : 9
도형 클래스 staticmethod 호출

In [95]:
with open('data/ch.08.txt', 'r') as f:
    line = f.readline()
    while line != '':
        print(line, end='')
        line = f.readline()

Hello
World
That cool
you got a

In [96]:
with open('data/ch.08.txt', 'r')as f:
    liens = f.readlines()
    print(liens)

['Hello\n', 'World\n', 'That cool\n', 'you got a ']

# 연습문제

In [11]:
    '''ch08 실습형 연습문제 1
    <두 수를 입력받아 나눗셈 연산을 하는 프로그램>
    - 두 숫자는 정수 또는 실수일수 있으며, 0으로 나눌 수 없습니다.
    - 올바른 두 수를 입력하고 나눗셈 연산 결과를 출력한 후 종료
    '''
while True:
        try:
            num1 = float(input('첫번째 숫자를 입력하세요.'))
            num2 = float(input('두번째 숫자를 입력하세요.'))

            if num1 == 0 or num2 == 0:
                print('0으로 나눌 수 없습니다.')
                continue

            if num1 < num2: 
                num1, num2 = num2, num1

            print(f'입력한 숫자는 {num1}과 {num2}입니다. 두수를 나눈 결과는 {num1/num2}입니다.')
            break

        except ValueError:
            print('숫자로 작성해주세요.')
        except ZeroDivisionError:
            print('0외에 다른 숫자로 작성해주세요.')

첫번째 숫자를 입력하세요.2
두번째 숫자를 입력하세요.0
0으로 나눌 수 없습니다.
첫번째 숫자를 입력하세요.s
숫자로 작성해주세요.
첫번째 숫자를 입력하세요.5
두번째 숫자를 입력하세요.10
입력한 숫자는 10.0과 5.0입니다. 두수를 나눈 결과는 2.0입니다.

# 연습문제(고객 관리)

In [ ]:
    '''ch09 실습형 연습문제 1
    파일 프로그램 시작시 'data/ch09_customers.txt'(고객 데이터 백업용)의 내용을 load(객체list)
    파일이 없을경우 빈 파일 생성
    1.클래스 생성
    2.test.txt 생성
    3.test 파일에 고객 추가  (name, phone, email, age, grade, etc를 입력받기)
    4.입력된 고객 test파일에 추가
    5.전체 고객 출력
    6.고객 삭제
    7.이름찾기
    8.내보내기(csv)
    9.종료 (txt 파일에 저장)
    
    '''

## 1. 클래스 만들기

In [6]:
class Customer:
    def __init__(self,name,phone,email,age,grade,etc):
        self.name = name
        self.phone = phone
        self.email = email
        self.age = age
        self.grade = grade
        self.etc = etc
    def as_dic(self):   #딕셔너리로 만들기 
        return {'name':self.name,
                'phone':self.phone,
                'emial':self.email,
                'age':self.age,
                'grade':self.grade,
                'etc':self.etc}
    def to_list_style(self): #리스트 스타일로 만들기
        temp = [self.name,
                self.phone,
                self.email,
                str(self.age),
                str(self.grade),
                self.etc]
        return ','.join(temp)
    def __str__(self):
        return "{:>5}\t{:3}\t{:13}\t{:15}\t{:3}\t{}".format('*'*self.grade,
                                                                  self.name,
                                                                  self.phone,
                                                                  self.email,
                                                                  self.age,
                                                                  self.etc)

In [7]:
def to_customer(row):
    '''
    row = "홍길동, 010-9999-9999, a@a.com, 30, 3, 까칠해"(txt파일 내용)을 매개변수로 받아
    Customer 객체로 return 
    '''
    data = row.split(',')
    name = data[0]
    phone = data[1].strip()
    email = data[2].strip()
    age = int(data[3].strip())
    grade = int(data[4].strip())
    etc = data[5].strip()
    return Customer(name,phone,email,age,grade,etc)

In [8]:
c1 = Customer('홍길동','0101-9999-9999','a@a.com',30,3,'까칠해')
print(c1)

print('as_dict() =', c1.as_dic())
print('to_list_style() =', c1.to_list_style())

c2 = to_customer('홍길동,010-9999-9999,b@b.com,30,4,예민해')
print(c2)

  ***	홍길동	0101-9999-9999	a@a.com        	 30	까칠해
as_dict() = {'name': '홍길동', 'phone': '0101-9999-9999', 'emial': 'a@a.com', 'age': 30, 'grade': 3, 'etc': '까칠해'}
to_list_style() = 홍길동,0101-9999-9999,a@a.com,30,3,까칠해
 ****	홍길동	010-9999-9999	b@b.com        	 30	예민해

## 2. 세부 기능

### 1) 처음 실행시 호출
ch09_customers.txt(백업데이터) 에서 customer_list return\
파일이 없으면 빈 파일 생성,customer_list = [ ] return

In [14]:
def load_customer():
    customer_list = []
    try:
        with open('data/ch09_customers.txt', 'r', encoding='utf-8')as f:
            lines = f.readlines()
            for line in lines:
                customer = to_customer()
                customer_list.append(customer)        
    except:
        with open('data/ch09_customers.txt', 'w', encoding='utf-8')as f:
            print('초기화 파일을 생성했습니다.')
    return customer_list

In [15]:
with open('data/ch09_customers.txt', 'r', encoding='utf-8')as f:
    lines = f.read()
    print(lines)

홍길동, 010-9999-2222, a@a.com, 29, 4, 예민이신길동, 010-4829-9301, b@b.com, 23, 2, 까칠이함길동, 010-4039-3827, a@a.com, 42, 3, 없음유길동, 010-2948-9428, c@c.com, 32, 5, 없음인길동, 010-2932-3971, d@d.com, 31, 1, 중독

In [12]:
customer_list = load_customer()
for customer in customer_list:
    print(customer)

초기화 파일을 생성했습니다.

In [16]:
smtext = ['홍길동, 010-9999-2222, a@a.com, 29, 4, 예민이',
          '신길동, 010-4829-9301, b@b.com, 23, 2, 까칠이',
          '함길동, 010-4039-3827, a@a.com, 42, 3, 없음',
          '유길동, 010-2948-9428, c@c.com, 32, 5, 없음',
          '인길동, 010-2932-3971, d@d.com, 31, 1, 중독']

# '홍길동','0101-9999-9999','a@a.com',30,3,'까칠해'

with open('data/ch09_customers.txt', 'w', encoding='utf-8', end='\n')as f:
    f.writelines(smtext)

TypeError: 'end' is an invalid keyword argument for open()