In [1]:
from IPython.display import display, HTML 
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
 """))

<font size="6" color="GREEN">CH.02 자료형과 연산자</font>
# 1절 변수
- 파이썬은 변수선언을 위한 과정이 없음. 할당과 동시에 타입이 지정되고 값이 할당됨

## 1.1 변수 할당
- 할당연산자(=)를 이용해서 값을 할당하면 타입이 세팅
- 파이썬에서의 모든 변수는 객체로 저장

In [3]:
r = 5
area = 3.14 * r * r
print("계산된 넓이는",area)

계산된 넓이는 78.5

In [5]:
import numpy as np
area = np.pi * r * r
print('area =', area)

area = 78.53981633974483

In [6]:
area.is_integer() # area가 integer인지 여부를 반환

False

In [16]:
print('area의 주소 :',id(area)) #id(area) : area 변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 2712859191280
area의 타입 : <class 'str'>

In [17]:
area = 5.5
print('area의 주소 :',id(area)) #id(area) : area 변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 2712835703376
area의 타입 : <class 'float'>

In [18]:
area = 10 
print('area의 주소 :',id(area)) #id(area) : area 변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 2712756748816
area의 타입 : <class 'int'>

In [19]:
area = "파이썬"
print('area의 주소 :',id(area)) #id(area) : area 변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 2712831418864
area의 타입 : <class 'str'>

## 1.2변수 이름 규칙
- 문자로 시작 (숫자로 시작 불가)
- 문자, 숫자, _(언더바)로 변수명 작성 (- 다시 / .점 / ,쉼표 불가)
- 함수명은 변수이름으로 가능하나 피한다. 만약에 써야한다면 int_식으로 _(언더바)를 이용
- 파이썬 예약어(for,..)는 변수이름 사용 불가
- 한글변수는 꼭 필요시에만 이용
- 대문자로 시작한 변수, 함수명의 변수는 강력비추 (ex. Print =10)

In [21]:
이름 = "홍길동"
print(이름)

홍길동

In [22]:
이름

'홍길동'

In [25]:
# memver.name = "홍길동"
member_name = "홍길동"
memberName = "홍길동"

In [27]:
Print = 10 # 대문자로 시작한 변수, 함수명의 변수는 강력비추 
print(Print)

10

In [28]:
# 파이썬에서의 숫자 : 정수(소수점이 없는), 실수(소수점이 있는), 복소수
i = 3 + 3j #복소수
type(i)

complex

In [30]:
isinstance(i, complex) # i변수(객체)가 complex인지 여부 / complex는 복소수를 뜻함

True

## 1.3 도움말

In [31]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [34]:
help() # help를 빠져나오려면 q입력 ESC+O : 결과 접기 / 펴기

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> Q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [36]:
# 도움말 기능 : shift+tab키 tqb키 두번누르면 더 길게 나옴
print()

In [47]:
def add(x, y=0):
    '''
    매개변수 2개를 받아 두자리 숫자로 만들어요
    x = 10의 자리수가 됨
    y = 1의 자리수가 됨
    사용법 : add(2, 3) => 23
    '''
    return x*10 + y

In [48]:
add(2)

20

In [49]:
a = add 
a(2,3) #변수에 텍스트는 ""에 작성

23

## 1.4 다중 변수 할당

In [ ]:
a = 10
b = 20

In [50]:
a, b = 10, 20
print(a, b)

10 20

In [51]:
# 다중 변수 할당시 순차적 할당이 아니고, 일괄 동시 할당
a, b = b, a+b
print(a, b)

20 30

# 2절. 화면입출력(i/o)

In [71]:
# input() : 사용자로부터 값을 입력받기 위한 함수. 문자열로 입력  input은 숫자를 안 받고 텍스트로만 받음
# int는 인테전(정수)를 뜻함      

first = input("첫번째 숫자는?")
first

첫번째 숫자는?2

'2'

In [59]:
second = input("두번째 숫자는?")

두번째 숫자는? 2

In [69]:
sum = int(first) + int(second)
print('합:', sum)

합: 4

In [72]:
first = int(input('첫번째 수는?'))
second = int(input('두번째 수는?'))
sum = first + second
print('합', sum)

첫번째 수는?5
두번째 수는?9
합 14

In [83]:
print('합', sum, sep='=', end= '\n')
print('합', sum, sep='..', end= '')
print('합', sum, sep='은', end= '')
print('합', sum, sep='~', end= '')

합=14
합..14합은14합~14

In [85]:
import sys
print('hello', 'world', sep=",", file=sys.stdout)

hello,world

# 3절. 기본 자료형
- 자료형에 따라 값의 크기와 저장방식이 달라짐
    - 숫자 : int, float, complex
    - 문자 : str
    - 논리 : bool (오직 True / False 만 나타남)  
    
 ## 3.1 숫자형

In [87]:
import sys
sys.maxsize #정수의 최대값 2**63-1 (2의 63승 -1)

9223372036854775807

In [89]:
i = sys.maxsize + 1000
print(i)
print(type(i))

9223372036854776807
<class 'int'>

In [93]:
f = 4/2  #정수/정수는 무조건 실수값으로 나타남
f

2.0

In [96]:
# 자바처럼 정수/정수의 결과를 정수로 만들기는
f = 4//2 #몫연산자
print(f) 
f = int(4/2)
print(f)

2
2

In [95]:
f = 3//2 #몫연산자
f

1

In [98]:
c = 1j #수학시간의 0+1i
print(c**2) # **승연산자(제곱)

(-1+0j)

In [100]:
f = 1.12e12 # 1.12의 10의 12승 1120000000000 / 해당 문법은 지수형 표현
print('지수형 표현할당시 실수형으로 저장 :', f)
f = 1.12e-12 # 0000000000112
print('지수형 표현할당시 실수형으로 저장 :',f)

지수형 표현할당시 실수형으로 저장 : 1120000000000.0
지수형 표현할당시 실수형으로 저장 : 1.12e-12

##  3.2문자형
쌍따옴표 ("-")나 홑따옴표('-')이용

In [113]:
name = "홍길동\"짱\"" #홍길동 "짱"
name = '홍길동"짱"'
address =  "서울시 관악구 '신림동'" #서울시 관악구 '신림동' *문자안에 ''이 있으면 ""로 감싸기
print (name, address)

홍길동"짱" 서울시 관악구 '신림동'

In [118]:
# 문자형 변수 여러줄 
text = ''' 안녕하세요. 여러줄짜리 내용 
줄바꿈문자를 쓰지 않고 따옴표 3개로 처리 
이처럼 쓰는 경우가 아주 많아용'''
print(text)

 안녕하세요. 여러줄짜리 내용
줄바꿈문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 아주 많아용

### ※문자열 연산

In [123]:
'''
 여러줄 주석 용도
 2025.04.08. 문자열 연산 소스 by 아무개
'''

name1 = "홍길동"
name2 = "김동해"
print (name1 + name2)

홍길동김동해

In [125]:
print(name1 *3) #*(곱하기)는 문자열 반복

홍길동홍길동홍길동

### ※raw 데이터
- 용도 : 정규표현식 이용, 디렉토리 경로 표현식 이용

In [ ]:
print

정규표현식
``` (탭위에키 esc와 탭 사이 - 필드 설정) / (마크업 셀에서 백틱은 블록을 만들 때 사용)
1. 참조 : 위키백과
2. 간략한 문법 : 
    \d (숫자와 매치, [0-9]와 동일
    \D (숫자가 아닌것)
    \w (영문자나 숫자, [a-zA-Z0-9]
    \W (영문자나 숫자가 아닌 문자) 
    . (문자 하나를 뜻함)
    \.(.의미) ※여기에서 역슬래시는 해석하는것
    \-(-의미) 
    {2, 3} (2~3번 반복) ※반드시 앞에 숫자가 작아야 함.
    {4}    (4번 반복)
    {2,}   (2번 이상 반복)
    +      (1번 이상 반복)
    *      (0번 이상 반복)
    ?      (0번 이나 1번 반복)
    
3. 정규표현식 연습장(https://regexr.com/)
[0-9] {2,3} = \d{2,3} (숫자 2번이나 3번) 
\d{2,3}-\d{3,4}-\d{4} : 전화번호 정규표현식 
```